<form [formGroup]="optionForm" *ngIf="current_number_options > 0">
  <div nz-row > <!--nzGutter="8"-->
    <div nz-col nzSpan="2">
      <nz-form-label>{{'ORDER' | translate}}</nz-form-label>
    </div>
    <div nz-col nzSpan="10">
      <nz-form-label>{{'TEXT' | translate}}</nz-form-label>
    </div>
    <div nz-col nzSpan="3">
      <nz-form-label>{{'POINTS' | translate}}</nz-form-label>
    </div>
  </div>

  <ng-container [formArrayName]="'optionRow'" *ngFor=" let control of optionForm.get('optionRow')['controls']; let i = index">
    <div nz-row nzGutter="8" nz-row nzType="flex" nzJustify="start" [formGroupName]="i+''"> <!--nzGutter="8"-->
      <div nz-col nzSpan="2">
        <nz-form-item>
          <nz-form-control>
            <input nz-input nzSize="small" type="number" [value]="+totalItems + ( i + 1 )"  disabled/>
            <input nz-input nzSize="small" type="hidden" [value]="+totalItems + ( i + 1 )" formControlName="order"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="10">
        <nz-form-control>
          <textarea nzSize="small" rows="5" [nzAutosize]="true" nz-input [placeholder]="('DESCRIPTION_PLACEHOLDER' | translate)" formControlName="text"></textarea>
          <nz-form-explain
            *ngIf="getFormControl('text',i)?.dirty && getFormControl('text', i)?.hasError('required')">
            {{'DESCRIPTION_INPUT_REQUIRED' | translate}}
          </nz-form-explain>
        </nz-form-control>
      </div>
      <div nz-col nzSpan="3">
        <nz-form-control>
          <input nz-input nzSize="small" [placeholder]="('REFERENCE_PLACEHOLDER' | translate)" formControlName="points"/>
          <nz-form-explain
            *ngIf="getFormControl('points',i)?.dirty && getFormControl('points', i)?.hasError('required')">
            {{'REFERENCE_INPUT_REQUIRED' | translate}}
          </nz-form-explain>
        </nz-form-control>
      </div>

      <div nz-col nzSpan="1" style="bottom: 0" *ngIf="i > 0">
        <button nzSize="small" nz-button nzType="danger" nzShape="circle" (click)="deleteRow(i)"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
      </div>
    </div>

  </ng-container>
</form>



<!--<div nz-row nzType="flex" nzJustify="center">
  <nz-form-control nz-col nzSpan="12">
    <button nz-button   nzType="primary" (click)="addQuestionRow()">
      <i nz-icon type="plus"></i> {{'ADD_QUESTION' | translate}}
    </button>
  </nz-form-control>
</div>-->
