<nz-content padding>
  <ng-container *ngIf="selectedConfig && selectedRound; else noData">
    <nz-page-header class="margin-top margin-bottom" [nzTitle]="'ECOE(s) en curso' | translate"></nz-page-header>

    <div nz-row>
      <div nz-col  nzXs="24" nzSm="6" nzLg="4" nzXl="3">
        <nz-tabset *ngIf="filtredEcoesConfig"
                   nzSize="default"
                   [nzTabPosition]="'left'"
                   [(nzSelectedIndex)]="selectedRoundIndex">
          <ng-container *ngFor="let item of filtredEcoesConfig">
            <nz-tab
              (nzClick)="onChangeRound(round)"
              *ngFor="let round of item.rounds"
              [nzTitle]="titleTemplate"
            >
              <ng-template #titleTemplate>
                <h3>{{round.name}}</h3>
                <h5>{{item.ecoe.name}}</h5>
              </ng-template>
            </nz-tab>
          </ng-container>
        </nz-tabset>
      </div>
      <div nz-col  nzXs="24" nzSm="18" nzLg="20" nzXl="21">
        <div nz-row margin-top>
          <div nz-col>
            <app-chrono
              withPreview = true
              [round]="selectedRound"
              [idEcoe]="selectedConfig.ecoe.id"
              [templateBeforeStart]="BeforeStartContent"
              (started)="onStartedECOE($event)"
            >
            </app-chrono>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #BeforeStartContent>
    <h2><i nz-icon nzType="info-circle" nzTheme="outline"></i> {{selectedConfig.ecoe.name + "NOT_STARTED_YET"}}</h2>
  </ng-template>

  <ng-template #noData>
    <nz-empty [nzNotFoundContent]="'ANY_ECOE_CONFIGURED' | translate"></nz-empty>
  </ng-template>

</nz-content>
