<nz-layout class="layout">
  <nz-sider>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item [routerLink]="['users']" routerLinkActive="ant-menu-item-selected">
        <i nz-icon nzType="user"></i>
        <span>{{ 'USERS' | translate }}</span>
      </li>
      <li nz-menu-item [routerLink]="['organizations']" routerLinkActive="ant-menu-item-selected">
        <i nz-icon nzType="team"></i>
        <span>{{ 'ORGANIZATIONS' | translate }}</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
