<nz-layout class="layout">
<nz-sider>
  <ul nz-menu nzTheme="dark" nzMode="inline">
    <li nz-menu-item (click)="goBack()">
      <i class="back-color" nz-icon nzType="arrow-left"></i>
      <span class="back-color">{{'BACK_ECOE' | translate }} </span>
    </li>
    <li nz-menu-item [routerLink]="['users']" routerLinkActive="ant-menu-item-selected">
      <i nz-icon nzType="user"></i>
      <span>{{ 'USERS' | translate }}</span>
      <nz-statistic [nzValue]="usersPage['total']" [nzValueStyle]="{ color: '#1890ff' }"></nz-statistic>
    </li>
    <li nz-menu-item [routerLink]="['organizations']" routerLinkActive="ant-menu-item-selected">
      <i nz-icon nzType="team"></i>
      <span>{{ 'ORGANIZATIONS' | translate }}</span>
      <nz-statistic [nzValue]="organizationsPage['total']" [nzValueStyle]="{ color: '#1890ff' }"></nz-statistic>
    </li>
  </ul>
</nz-sider>
  <nz-layout class="right-layout">
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
