.layout {
  min-height: 100vh;
}

nz-sider {
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-layout {
  margin-left: 200px;
}

nz-content {
  margin: 24px 16px 0;
  overflow: initial;
}

.inner-content {
  padding: 24px;
  background: #fff;
  text-align: center;
}

nz-footer {
  text-align: center;
}

.back-color {
  color: #009dbd;
  font-weight: 500;
}

ul[nz-menu] {
  width: 100%;
  padding: 0;
  margin: 0;
}

li[nz-menu-item] {
  display: flex;
  align-items: center;
  padding: 13px 25px;
  font-size: 16px;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
  margin-top: 10px;
}

li[nz-menu-item] i {
  margin-right: 12px;
}

li[nz-menu-item] span {
  margin-right: 8px;
}

li[nz-menu-item]:hover {
  color: #008aa4;
  background-color: #1890ff1a;
}

li[nz-menu-item].ant-menu-item-selected {
  background-color: #1890ff1a;
}
