<!-- #TODO Cambiar breadcrumb a dinamico -->
<nz-content>
  <nz-page-header class="margin-bottom" (nzBack)="onBack()" nzBackIcon [nzTitle]="'STATIONS' | translate">
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item><a class="secondary-link" [routerLink]="['/ecoe/' + ecoeId + '/admin']">{{ecoe_name}}</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><nz-tag class="secondary-tag">{{"STATIONS" | translate}}</nz-tag></nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-page-header-extra>  
      <button [disabled]="stations.length == 0" [routerLink]="['/ecoe/' + ecoeId + '/admin/schedule']" nz-button [nzType]="'primary'"><span>{{"CONFIGURATION" | translate}} {{"SCHEDULE" | translate}} <i nz-icon nzType="arrow-right" nzTheme="outline"></i></span></button>
    </nz-page-header-extra>
  </nz-page-header>

  <nz-table #table
            [nzData]="stations"
            [(nzPageIndex)]="page"
            [(nzPageSize)]="perPage"
            (nzPageIndexChange)="pageChange($event)"
            (nzPageSizeChange)="pageSizeChange($event)"
            [nzLoading]="loading"
            [nzFrontPagination]="false"
            [nzTotal]="totalItems"
            nzSize="small"
            nzShowSizeChanger
            nzShowPagination>
    <thead>
    <tr>
      <th [nzExpand]="true">
        <a (click)="loadStations().finally()">
          <i nz-icon type="reload" [nz-tooltip] [nzPlacement]="'bottom'" [nzTitle]="'REFRESH' | translate"></i>
        </a>
      </th>
      <th nzWidth="85px">{{"ORDER" | translate}}</th>
      <th nzWidth="300px">{{"NAME" | translate}}</th>
      <th nzWidth="300px">{{"PARENT_STATION" | translate}}</th>
      <th nzWidth="140px">{{"CHILD_STATIONS" | translate}}</th>
      <th nzWidth="240px">
        <nz-button-group class="margin-left">
          <button nz-button [nzType]="'primary'"
                  [nz-tooltip] [nzTitle]="'ADD_STATION' | translate"
                  (click)="showDrawer()">
            <i nz-icon [type]="'plus-circle'" nzTheme="twotone" icon-16></i>
          </button>
          <app-upload-and-parse (parserResult)="importStations($event)"></app-upload-and-parse>
        </nz-button-group>
      </th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-item [ngForOf]="table.data">
      <tr>
        <td>

        </td>

        <td>
          <ng-container *ngIf="!editCache[item.id].edit">
            {{item.order || "-"}}
          </ng-container>

          <ng-container *ngIf="editCache[item.id].edit">
            <nz-input-number [nzMin]="0" [nzSize]="'small'" [(ngModel)]="editCache[item.id].item.order"></nz-input-number>
          </ng-container>
        </td>

        <td>
          <ng-container *ngIf="!editCache[item.id].edit" >
            <a [routerLink]="['./', item.id]">
              {{item.name}}
            </a>
          </ng-container>

          <ng-container *ngIf="editCache[item.id].edit">
            <input type="text" nz-input [nzSize]="'small'" [(ngModel)]="editCache[item.id].item.name">
          </ng-container>
        </td>

        <td>
          <ng-container *ngIf="!editCache[item.id].edit">
            <nz-tag *ngIf="item.parentStation?.name"
                    [nzColor]="shared.stringToColour(item.parentStation.name)">{{item.parentStation.name}}</nz-tag>
          </ng-container>

          <ng-container *ngIf="editCache[item.id].edit">
            <nz-select style="width: 100%"
              nzShowSearch
              nzServerSearch
              [nzMaxTagCount]="1"
              [nzNotFoundContent]="('STATION_NOT_FOUND' | translate)"
              nzAllowClear="true"
              [(ngModel)]="editCache[item.id].item.parentStation"
              [nzPlaceHolder]="('PARENT_PLACEHOLDER' | translate)"
              nzFilterOption="true"
              (nzOnSearch)="searchInSelect($event, editCache[item.id].item.name)"
            >
              <!--<ng-container *ngFor="let pageOptions of selectOptions">-->
                <nz-option *ngFor="let station of selectOptions['items']"  [nzLabel]="station.name" [nzValue]="station"> </nz-option>
              <!--</ng-container>-->
            </nz-select>
          </ng-container>
        </td>

        <td>{{item.childrenStations?.length}}</td>

        <td text-right>
          <app-action-buttons [isEditing]="editCache[item.id]?.edit"
                              [isNewItem]="editCache[item.id]?.new_item"
                              (startEdit)="startEdit(item,editCache[item.id].item.name)"
                              (delete)="deleteItem(item)"
                              (save)="updateItem(editCache[item.id].item)"
                              (cancelEdit)="cancelEdit(item)">
          </app-action-buttons>
        </td>
      </tr>
    </ng-template>
    </tbody>
  </nz-table>

  <ng-container>
    <nz-drawer
      [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
      [nzMaskClosable]="false"
      [nzWidth]="720"
      [nzVisible]="isVisible"
      [nzTitle]="'ADD_STATION' | translate"
      (nzOnClose)="cancelForm()">

      <form [formGroup]="stationForm">
        <div nz-row nzGutter="8">
          <div nz-col nzSpan="3">
            <nz-form-label>{{'ORDER' | translate}}</nz-form-label>
          </div>
          <div nz-col nzSpan="9">
            <nz-form-label>{{'NAME' | translate}}</nz-form-label>
          </div>
          <div nz-col nzSpan="9">
            <nz-form-label>{{'PARENT_STATION' | translate}}</nz-form-label>
          </div>
        </div>

        <ng-container formArrayName="stationRow" *ngFor=" let control of stationForm.get('stationRow')['controls']; let i = index">
          <div nz-row nzGutter="8" [formGroupName]="i+''">
            <div nz-col nzSpan="3">
              <nz-form-item>
                <nz-form-control>
                  <input nz-input type="number" [value]="+totalItems + ( i + 1 )"  disabled/>
                  <input nz-input type="hidden" [value]="+totalItems + ( i + 1 )" formControlName="order"/>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="9">
              <nz-form-control>
                <input nz-input [placeholder]="('NAME_PLACEHOLDER' | translate)" formControlName="name"/>
                <nz-form-explain
                  *ngIf="getFormControl('name',i)?.dirty && getFormControl('name', i)?.hasError('required')">
                  {{'NAME_INPUT_REQUIRED' | translate}}
                </nz-form-explain>
              </nz-form-control>
            </div>
            <div nz-col nzSpan="9">
              <nz-form-item>
                <nz-form-control>
                  <nz-select
                    nzShowSearch
                    nzServerSearch

                    [nzMaxTagCount]="1"
                    [nzNotFoundContent]="('STATION_NOT_FOUND' | translate)"
                    nzAllowClear="true"

                    [nzPlaceHolder]="('PARENT_PLACEHOLDER' | translate)"
                    nzFilterOption="true"
                    formControlName="parentStation"
                    (nzOnSearch)="searchInSelect($event, getFormControl('name',i).value)"
                  >
                    <nz-option *ngFor="let option of selectOptions['items']" [nzLabel]="option.name" [nzValue]="option.name"> </nz-option>
                  </nz-select>

                  <nz-form-explain *ngIf="getFormControl('parentStation', i)?.dirty && getFormControl('parentStation', i)?.hasError('required')">
                    {{'PARENT_INPUT_REQUIRED' | translate}}
                  </nz-form-explain>

                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="3" style="bottom: 0" *ngIf="i > 0">
              <button nz-button nzType="danger" nzShape="circle" (click)="deleteRow(i)"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
            </div>
          </div>
        </ng-container>

        <nz-form-item>
          <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 20, offset: 4 }">
            <button nz-button   nzType="dashed" style="width:60%" (click)="addStationRow()">
              <i nz-icon type="plus"></i> {{'ADD_STATION' | translate}}
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>

      <div class="footer">
        <button type="button" (click)="cancelForm()" class="ant-btn" style="margin-right: 8px;"><span>{{'CANCEL' | translate}}</span></button>
        <button type="button" (click)="submitForm()" class="ant-btn ant-btn-primary"><span>{{'SAVE' | translate}}</span></button>
      </div>
    </nz-drawer>


    <nz-drawer
      [nzClosable]="true"
      [nzVisible]="logPromisesERROR.length > 0"
      nzPlacement="right"
      [nzTitle]="'IMPORT_ERRORS' | translate"
      (nzOnClose)="clearImportErrors()"
      [nzWidth]="540">
      <nz-alert *ngFor="let error of logPromisesERROR"
                nzType="error"
                nzCloseable
                [nzMessage]="error.reason.statusText"
                [nzDescription]="error.reason.message"
                nzShowIcon>
      </nz-alert>
    </nz-drawer>

  </ng-container>

</nz-content>
