<nz-content padding>
  <nz-page-header class="margin-top margin-bottom" [nzTitle]="'ECOES' | translate" [nzSubtitle]="'LIST' | translate"> </nz-page-header>
  <nz-list nzGrid>
    <div nz-row [nzGutter]="16">
      <div *ngIf="userService.userData?.isAdmin" nz-col  [nzXXl]="6" [nzXl]="8" [nzSm]="12" [nzXs]="24">
        <nz-list-item>
          <nz-card [nzTitle]="'CREATE_ECOE' | translate">
            <a nz-button nzSize="large" nzBlock (click)="showCreateEcoe = true" nzType="dashed">
              <i nz-icon nzType="plus" nzTheme="outline"></i> {{ '' | translate }}
            </a>
          </nz-card>
        </nz-list-item>
      </div>
      <div nz-col [nzXXl]="6" [nzXl]="8" [nzSm]="12" [nzXs]="24" *ngFor="let item of ecoesList">
        <nz-list-item>
          <nz-card [nzTitle]="item.name">
            <a nz-button [routerLink]="['/ecoe/' + item['id'] + (userService.userData.isEval ? '/eval' : '/admin')]"
                      nzSize="large" nzBlock
                      preserveFragment="false"
                      nzType="primary">
                <i nz-icon nzType="setting" nzTheme="outline"></i> {{ '' | translate }}
            </a>
          </nz-card>
        </nz-list-item>
      </div>
    </div>
  </nz-list>
</nz-content>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
           [nzMaskClosable]="true"
           [nzVisible]="showCreateEcoe"
           [nzTitle]="'CREATE_ECOE' | translate"
           (nzOnClose)="closeDrawer()">
  <form nz-form (submit)="submitForm()">
    <div nz-row>
        <nz-form-item>
          <nz-form-label [nzRequired]="true" [nzFor]="'name'">{{"ECOE_NAME" | translate}}</nz-form-label>
          <nz-form-control>
            <input nz-input id="name" [formControl]="ecoeForm"/>
          </nz-form-control>
        </nz-form-item>
    </div>

    <div class="footer">
      <button type="button" nz-button (click)="closeDrawer()" class="margin-right">
        <span>{{"CANCEL" | translate}}</span>
      </button>
      <button type="submit" nz-button [nzType]="'primary'" [disabled]="!ecoeForm.valid">
        <span>{{"ACCEPT" | translate}}</span>
      </button>
    </div>
  </form>
</nz-drawer>
