  <nz-progress
    [nzPercent]="totalPercent"
    [nzShowInfo]="false"
    [nzStatus]="aborted ? 'exception' :  'active'"
    nzSize="default"
    nzStatus="active"
    style="height: 15px">
  </nz-progress>

  <ng-container *ngIf="eventsToPlay">
    <div class="events" nz-row>
      <ng-container *ngFor="let eventItem of eventsToPlay; let idx = index">
        <span *ngIf="idx < eventsToPlay.length -1" [style.left.%]="((eventItem['t'] / totalDuration) * 100) > 0
                                                 ? ((eventItem['t'] / totalDuration) * 100) - 2
                                                 : (eventItem['t'] / totalDuration) * 100">
          <ng-container *ngTemplateOutlet="eventContent"></ng-container>
        </span>

        <span *ngIf="idx === eventsToPlay.length -1" [style.right.px]="0" text-right>
          <ng-container *ngTemplateOutlet="eventContent"></ng-container>
        </span>

        <ng-template #eventContent>
          <i nz-col  nz-icon  nzType="notification" nzTheme="twotone"></i>
          <span class="events-description"><br/>
            <nz-tag [style.margin-right]="idx === eventsToPlay.length -1 ? 0 : 'initial'" nzColor="#f0ad4e">
              {{eventItem['message']}}
            </nz-tag>
          </span>
        </ng-template>
      </ng-container>
    </div>
  </ng-container>
