<nz-table #optionTable
          [nzData]="question?.options"
          nzSize="middle"
          [nzShowPagination]="false"
          [nzFooter]="addOptionBtn">
  <thead>
  <tr>
    <th nzWidth="40px">{{"ORDER" | translate}}</th>
    <th nzWidth="250px">{{"LABEL" | translate}}</th>
    <th nzWidth="150px">{{"POINTS" | translate}}</th>
    <th>{{"PREVIEW" | translate}}</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let option of optionTable.data; let indexOption = index">
    <td>
      {{option.order}}
    </td>

    <td>
      <ng-container *ngIf="!editCacheOption[option.id].edit else editLabel">
        {{option.label}}
      </ng-container>

      <ng-template #editLabel>
        <input type="text"
               nz-input
               [nzSize]="'small'"
               required
               [(ngModel)]="editCacheOption[option.id].label">
      </ng-template>
    </td>

    <td>
      <ng-container *ngIf="!editCacheOption[option.id].edit else editPoints">
        {{option.points}}
      </ng-container>

      <ng-template #editPoints>
        <nz-input-number [nzStep]="0.1" [nzSize]="'small'" [(ngModel)]="editCacheOption[option.id].points">
        </nz-input-number>
      </ng-template>
    </td>

    <td *ngIf="((question.questionType == 'RS') && indexOption == 0)
|| question.questionType == 'CH' || question.questionType == 'RB'"
        [attr.rowspan]="(question.questionType == 'RS') ? question.options.length : 1">
      <ng-container *ngIf="question.questionType == 'CH'">
        <nz-switch [ngModel]="!editCacheOption[option.id].edit"
                   [nzCheckedChildren]="editCacheOption[option.id].edit ?
editCacheOption[option.id].label :
option.label"
                   [nzUnCheckedChildren]="editCacheOption[option.id].edit ?
editCacheOption[option.id].label :
option.label"
                   [ngClass]="editCacheOption[option.id].points < 0 ? 'negative-points' : 'positive-points'">
        </nz-switch>
      </ng-container>

      <ng-container *ngIf="question.questionType == 'RB'">
        <nz-radio-group [(ngModel)]="option.id">
          <label nz-radio [nzValue]="option.id"
                 [ngClass]="editCacheOption[option.id].points < 0 ? 'negative-points' : 'positive-points'">
            {{editCacheOption[option.id].label}}
          </label>
        </nz-radio-group>
      </ng-container>

      <ng-container *ngIf="question.questionType == 'RS'">
        <nz-rate [(ngModel)]="valueopt" [nzCount]="question.options.length"></nz-rate>
        <span class="ant-rate-text">{{valueopt}}</span>
      </ng-container>
    </td>
    <td text-right>
      <app-action-buttons [isEditing]="editCacheOption[option.id].edit"
                          [isNewItem]="editCacheOption[option.id].new_item"
                          [index]="indexOption"
                          [itemsLength]="optionTable.data.length"
                          [showOrderButtons]="true"
                          (changeOrder)="changeOptionOrder($event, option, indexOption, question)"
                          (startEdit)="startEditOption(option.id)"
                          (delete)="deleteOption(option, question)"
                          (save)="saveOption(option, question, editCacheOption[option.id].new_item)"
                          (cancelEdit)="cancelEditOption(option, question)">
      </app-action-buttons>
    </td>
  </tr>
  </tbody>

  <ng-template #addOptionBtn>
    <button nz-button nzType="dashed" nzBlock (click)="addOption(question)">
      <i nz-icon type="check-circle"></i>
      {{"ADD_OPTION" | translate}}
    </button>
  </ng-template>
</nz-table>
