<p>
  options-list works!
</p>
<nz-table #optionTable
          [nzData]="question?.options"
          [nzSize]="'middle'"
          [nzShowPagination]="false"
          [nzFooter]="addOptionBtn">
  <thead>
  <tr>
    <th nzWidth="85px">{{"ORDER" | translate}}</th>
    <th>{{"LABEL" | translate}}</th>
    <th nzWidth="150px">{{"POINTS" | translate}}</th>
    <th nzWidth="150px">{{"PREVIEW" | translate}}</th>
    <th nzWidth="95px"></th>
    <th nzWidth="130px"></th>
    <th nzWidth="140px"></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let option of optionTable.data; let indexOption = index">
    <td>
      <ng-container *ngIf="!editCacheOption[option.id].edit">
        {{option.order}}
      </ng-container>

      <ng-container *ngIf="editCacheOption[option.id].edit">
        <nz-input-number [nzMin]="0"
                         [nzSize]="'small'"
                         [(ngModel)]="editCacheOption[option.id].order">
        </nz-input-number>
      </ng-container>
    </td>

    <td>
      <ng-container *ngIf="!editCacheOption[option.id].edit">
        {{option.label}}
      </ng-container>

      <ng-container *ngIf="editCacheOption[option.id].edit">
        <input type="text"
               nz-input
               [nzSize]="'small'"
               required
               [(ngModel)]="editCacheOption[option.id].label">
      </ng-container>
    </td>

    <td>
      <ng-container *ngIf="!editCacheOption[option.id].edit">
        {{option.points}}
      </ng-container>

      <ng-container *ngIf="editCacheOption[option.id].edit">
        <nz-input-number [nzStep]="0.1" [nzSize]="'small'" [(ngModel)]="editCacheOption[option.id].points">
        </nz-input-number>
      </ng-container>
    </td>

    <td *ngIf="((question.question_type == 'RS') && indexOption == 0)
|| question.question_type == 'CH' || question.question_type == 'RB'"
        [attr.rowspan]="(question.question_type == 'RS') ? question.options.length : 1">
      <ng-container *ngIf="question.question_type == 'CH'">
        <nz-switch [ngModel]="!editCacheOption[option.id].edit"
                   [nzCheckedChildren]="editCacheOption[option.id].edit ?
editCacheOption[option.id].label :
option.label"
                   [nzUnCheckedChildren]="editCacheOption[option.id].edit ?
editCacheOption[option.id].label :
option.label"
                   [ngClass]="editCacheOption[option.id].points < 0 ? 'negative-points' : 'positive-points'">
        </nz-switch>
      </ng-container>

      <ng-container *ngIf="question.question_type == 'RB'">
        <nz-radio-group [(ngModel)]="option.id">
          <label nz-radio [nzValue]="option.id"
                 [ngClass]="editCacheOption[option.id].points < 0 ? 'negative-points' : 'positive-points'">
            {{editCacheOption[option.id].label}}
          </label>
        </nz-radio-group>
      </ng-container>

      <ng-container *ngIf="question.question_type == 'RS'">
        <nz-rate [(ngModel)]="valueopt" [nzCount]="question.options.length"></nz-rate>
        <span class="ant-rate-text">{{valueopt}}</span>
      </ng-container>
    </td>

    <td></td>
    <td></td>

    <td text-right>
      <app-action-buttons [isEditing]="editCacheOption[option.id].edit"
                          [isNewItem]="editCacheOption[option.id].new_item"
                          [index]="indexOption"
                          [itemsLength]="optionTable.data.length"
                          [showOrderButtons]="true"
                          (changeOrder)="changeOptionOrder($event, option, indexOption, question)"
                          (startEdit)="startEditOption(option.id)"
                          (delete)="deleteOption(option, question)"
                          (save)="saveOption(option, question, editCacheOption[option.id].new_item)"
                          (cancelEdit)="cancelEditOption(option, question)">
      </app-action-buttons>
    </td>
  </tr>
  </tbody>

  <ng-template #addOptionBtn>
    <div text-center>
      <button nz-button [nzType]="'dashed'" style="width: 300px" (click)="addOption(question)">
        {{"ADD_OPTION" | translate}}
      </button>
    </div>
  </ng-template>
</nz-table>
