<nz-content *ngIf="stations">
  <nz-table #table
            [nzData]="stations"
            [nzPageSize]="8"
            [nzTitle]="addButton">
    <thead>
      <tr>
        <th [nzExpand]="true">
          <a (click)="loadStations()">
            <i nz-icon icon-25 type="reload" [nz-tooltip] [nzPlacement]="'bottom'" [nzTitle]="'RELOAD' | translate"></i>
          </a>
        </th>
        <th [nzWidth]="'10%'">{{"ORDER" | translate}}</th>
        <th [nzWidth]="'25%'">{{"NAME" | translate}}</th>
        <th [nzWidth]="'25%'">{{"PARENT_STATION" | translate}}</th>
        <th>{{"CHILDREN_STATIONS" | translate}}</th>
        <th>{{"ACTION" | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-item [ngForOf]="table.data">
        <tr>
          <td [nzShowExpand]="true"
              [(nzExpand)]="item.expand"
              (nzExpandChange)="loadQblocksByStation($event, item.id)">
          </td>

          <td>
            <ng-container *ngIf="!editCache[item.id].edit">
              {{item.order}}
            </ng-container>

            <ng-container *ngIf="editCache[item.id].edit">
              <input type="number" nz-input [nzSize]="'small'" [(ngModel)]="editCache[item.id].order">
            </ng-container>
          </td>

          <td>
            <ng-container *ngIf="!editCache[item.id].edit">
              {{item.name}}
            </ng-container>

            <ng-container *ngIf="editCache[item.id].edit">
              <input type="text" nz-input [nzSize]="'small'" [(ngModel)]="editCache[item.id].name">
            </ng-container>
          </td>

          <td>
            <!--<ng-container *ngIf="!editCache[item.id].edit">-->
              <!--{{item.code}}-->
            <!--</ng-container>-->

            <!--<ng-container *ngIf="editCache[item.id].edit">-->
              <!--<input type="text" nz-input [nzSize]="'small'" [(ngModel)]="editCache[item.id].code">-->
            <!--</ng-container>-->
          </td>

          <td>{{item.children_stations.length}}</td>

          <td>
            <ng-container *ngIf="!editCache[item.id].edit">
              <a (click)="startEdit(item.id)">
                <i nz-icon type="edit" [nz-tooltip] [nzTitle]="'EDIT' | translate" [theme]="'twotone'"></i>
              </a>
              <nz-divider [nzType]="'vertical'"></nz-divider>
              <a nz-popconfirm [nzTitle]="'DELETE_CONFIRMATION' | translate" (nzOnConfirm)="deleteItem(item['$uri'])">
                <i nz-icon type="delete" [nz-tooltip] [nzTitle]="'DELETE' | translate" [theme]="'twotone'"></i>
              </a>
            </ng-container>

            <ng-container *ngIf="editCache[item.id].edit">
              <a (click)="saveEditItem(item.id)">
                <i nz-icon type="save" [nz-tooltip] [nzTitle]="'UPDATE' | translate" [theme]="'twotone'"></i>
              </a>
              <nz-divider [nzType]="'vertical'"></nz-divider>
              <a (click)="cancelEdit(item.id)">
                <i nz-icon type="close-circle" [nz-tooltip] [nzTitle]="'CANCEL' | translate" [theme]="'twotone'"></i>
              </a>
            </ng-container>
          </td>
        </tr>
        <tr [nzExpand]="item.expand">
          <td></td>
          <td colspan="5">
            <nz-table #qblockTable [nzData]="item.qblocksArray" [nzSize]="'middle'" [nzShowPagination]="false">
              <thead>
                <tr>
                  <th [nzWidth]="'10%'">{{"ORDER" | translate}}</th>
                  <th [nzWidth]="'30%'">{{"NAME" | translate}}</th>
                  <th>{{"QUESTIONS" | translate}}</th>
                  <th>{{"ACTION" | translate}}</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let qblock of qblockTable.data; let i = index">
                  <td>
                    <ng-container *ngIf="!editCache[item.id].edit">
                      {{qblock.order}}
                    </ng-container>

                    <ng-container *ngIf="editCache[item.id].edit">
                      <input type="number"
                             nz-input
                             [nzSize]="'small'"
                             required
                             [(ngModel)]="editCache[item.id].qblocksArray[i].order">
                    </ng-container>
                  </td>

                  <td>
                    <ng-container *ngIf="!editCache[item.id].edit">
                      {{qblock.name}}
                    </ng-container>

                    <ng-container *ngIf="editCache[item.id].edit">
                      <input type="text"
                             nz-input
                             [nzSize]="'small'"
                             required
                             [(ngModel)]="editCache[item.id].qblocksArray[i].name">
                    </ng-container>
                  </td>

                  <td>
                    <ng-container>
                      <a (click)="navigateQuestions(qblock.id, item.id)">
                        {{qblock.questions.length}}
                        <i nz-icon type="select"></i>
                      </a>
                    </ng-container>
                  </td>

                  <td>
                    <ng-container *ngIf="!editCache[item.id].edit">
                      <a (click)="startEdit(item.id)">
                        <i nz-icon type="edit" [nz-tooltip] [nzTitle]="'EDIT' | translate" [theme]="'twotone'"></i>
                      </a>
                      <nz-divider [nzType]="'vertical'"></nz-divider>
                      <a nz-popconfirm [nzTitle]="'DELETE_CONFIRMATION' | translate" (nzOnConfirm)="deleteItem(item['$uri'])">
                        <i nz-icon type="delete" [nz-tooltip] [nzTitle]="'DELETE' | translate" [theme]="'twotone'"></i>
                      </a>
                    </ng-container>

                    <ng-container *ngIf="editCache[item.id].edit">
                      <a (click)="saveEditItem(item.id)">
                        <i nz-icon type="save" [nz-tooltip] [nzTitle]="'UPDATE' | translate" [theme]="'twotone'"></i>
                      </a>
                      <nz-divider [nzType]="'vertical'"></nz-divider>
                      <a (click)="cancelEdit(item.id)">
                        <i nz-icon type="close-circle" [nz-tooltip] [nzTitle]="'CANCEL' | translate" [theme]="'twotone'"></i>
                      </a>
                    </ng-container>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>

  <ng-template #addButton>
    <button nz-button [nzType]="'primary'" class="margin-left" (click)="addItem()">
      <i nz-icon [type]="'plus-circle'" [theme]="'twotone'" icon-16></i>
      {{"ADD_STATION" | translate}}
    </button>
  </ng-template>
</nz-content>
