<nz-content *ngIf="stations">
  <nz-table #table
            [nzData]="stations"
            [nzPageSize]="8">
    <thead>
      <tr>
        <th [nzExpand]="true">
          <a (click)="loadStations()">
            <i nz-icon icon-25 type="reload" [nz-tooltip] [nzPlacement]="'bottom'" [nzTitle]="'REFRESH' | translate"></i>
          </a>
        </th>
        <th nzWidth="85px">{{"ORDER" | translate}}</th>
        <th>{{"NAME" | translate}}</th>
        <th nzWidth="140px">{{"PARENT_STATION" | translate}}</th>
        <th nzWidth="140px">{{"CHILD_STATIONS" | translate}}</th>
        <th nzWidth="140px">
          <button nz-button [nzType]="'primary'" class="margin-left"
                  [nz-tooltip] [nzTitle]="'ADD_STATION' | translate"
                  (click)="addStation()">
            <i nz-icon [type]="'plus-circle'" [theme]="'twotone'" icon-16></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-item [ngForOf]="table.data">
        <tr>
          <td [nzShowExpand]="true"
              [(nzExpand)]="item.expand"
              (nzExpandChange)="loadQblocksByStation($event, item)">
          </td>

          <td>
            <ng-container *ngIf="!editCache[item.id].edit">
              {{item.order || "-"}}
            </ng-container>

            <ng-container *ngIf="editCache[item.id].edit">
              <input type="number" nz-input [nzSize]="'small'" [(ngModel)]="editCache[item.id].order">
            </ng-container>
          </td>

          <td>
            <ng-container *ngIf="!editCache[item.id].edit">
              {{item.name}}
            </ng-container>

            <ng-container *ngIf="editCache[item.id].edit">
              <input type="text" nz-input [nzSize]="'small'" [(ngModel)]="editCache[item.id].name">
            </ng-container>
          </td>

          <td>
            TEST
          </td>

          <td>{{item.children_stations.length}}</td>

          <td text-right>
            <app-action-buttons [isEditing]="editCache[item.id].edit"
                                [isNewItem]="editCache[item.id].new_item"
                                (startEdit)="startEdit(item.id)"
                                (delete)="deleteItem(item)"
                                (save)="saveItem(item, editCache[item.id].new_item)"
                                (cancelEdit)="cancelEdit(item)">
            </app-action-buttons>
          </td>
        </tr>
        <tr [nzExpand]="item.expand">
          <td></td>
          <td colspan="5" inner-table>
            <nz-table #qblockTable
                      [nzData]="item.qblocksArray"
                      [nzSize]="'middle'"
                      [nzShowPagination]="false"
                      [nzFooter]="addQblockBtn">
              <thead>
                <tr>
                  <th nzWidth="85px">{{"ORDER" | translate}}</th>
                  <th>{{"NAME" | translate}}</th>
                  <th nzWidth="85px">{{"QUESTIONS" | translate}}</th>
                  <th nzWidth="140px"></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let qblock of qblockTable.data; let i = index">
                  <td>
                    <ng-container *ngIf="!editCacheQblock[qblock.id].edit">
                      {{qblock.order || "-"}}
                    </ng-container>

                    <ng-container *ngIf="editCacheQblock[qblock.id].edit">
                      <input type="number"
                             nz-input
                             [nzSize]="'small'"
                             required
                             [(ngModel)]="editCacheQblock[qblock.id].order">
                    </ng-container>
                  </td>

                  <td>
                    <ng-container *ngIf="!editCacheQblock[qblock.id].edit">
                      {{qblock.name}}
                    </ng-container>

                    <ng-container *ngIf="editCacheQblock[qblock.id].edit">
                      <input type="text"
                             nz-input
                             [nzSize]="'small'"
                             required
                             [(ngModel)]="editCacheQblock[qblock.id].name">
                    </ng-container>
                  </td>

                  <td>
                    <ng-container>
                      <a (click)="navigateQuestions(item.id, qblock.id)">
                        {{qblock.questions.length}}
                        <i nz-icon type="select"></i>
                      </a>
                    </ng-container>
                  </td>

                  <td text-right>
                    <app-action-buttons [isEditing]="editCacheQblock[qblock.id].edit"
                                        [isNewItem]="editCacheQblock[qblock.id].new_item"
                                        (startEdit)="startEditQblock(qblock.id)"
                                        (delete)="deleteQblock(qblock, item)"
                                        (save)="saveQblock(qblock, item, editCacheQblock[qblock.id].new_item)"
                                        (cancelEdit)="cancelEditQblock(qblock, item)">
                    </app-action-buttons>
                  </td>
                </tr>
              </tbody>

              <ng-template #addQblockBtn>
                <div text-center>
                  <button nz-button [nzType]="'dashed'" style="width: 300px" (click)="addQblock(item)">
                    {{"ADD_QBLOCK" | translate}}
                  </button>
                </div>
              </ng-template>
            </nz-table>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</nz-content>
