<nz-content>
  <nz-select style="width: 50%;"
             [nzShowSearch]="true"
             (ngModelChange)="deleteFilter($event)"
             [(ngModel)]="stationId"
             [nzSize]="'large'"
             padding>
    <nz-option *ngFor="let st of stations" [nzLabel]="st.name" [nzValue]="st.id"></nz-option>
  </nz-select>

  <button nz-button nzType="primary">{{"PREVIEW_EXAM" | translate}}</button>

  <nz-button-group>
    <app-upload-and-parse (parserResult)="importQuestions($event)"></app-upload-and-parse>
  </nz-button-group>

  <nz-collapse *ngIf="stationSelected">
    <nz-collapse-panel *ngFor="let qblock of qblocks"
                       [nzHeader]="panelHeader"
                       [nzActive]="true">

      <ng-template #panelHeader>
        <nz-tag [nzMode]="qblockId ? 'closeable' : 'default'" [nzColor]="'geekblue'" (nzOnClose)="deleteFilter(stationId)">
          <i nz-icon type="filter" nzTheme="twotone"></i>
          {{qblock.name}}
        </nz-tag>
      </ng-template>
      <app-questions-list
        [ecoe]="ecoe"
        [qblock]="qblock"
      ></app-questions-list>
    </nz-collapse-panel>
  </nz-collapse>
</nz-content>
