<div class="chrono-component">

  <ng-container *ngIf="(tictacFlag && connectedFlag || !withPreview) else BeforeStart">

    <ng-container *ngIf="!aborted else ECOEAborted">
      <app-chrono-header
      [showDetails]="showDetails"
      [idEcoe]="idEcoe"
      [currentCountDownEvent]="currentCountDownEvent"
      [minutes]="minutes"
      [rerunsDescription]="rerunsDescription"
      [round]="round"
      [seconds]="seconds"
      [stageName]="stageName"
      >
      </app-chrono-header>
    </ng-container>

    <ng-template #ECOEAborted>
      <h2 *ngIf="!showDetails && round" uppercase>{{round.description}}</h2>
      <h4 *ngIf="!showDetails && initStage">({{'RERUN'| translate}} {{rerunsDescription}})</h4>
      <nz-tag nzColor="red" class="my-tag">
        <ng-container *ngIf="stageName">
          {{stageName | translate}}
        </ng-container>
      </nz-tag> <br/>
    </ng-template>

    <!--CHRONO BODY CONTENT-->
    <ng-container *ngIf="showDetails else DetailsHidden">
      <app-progress-bar
        [aborted]="aborted"
        [eventsToPlay]="eventsToPlay"
        [totalDuration]="totalDuration"
        [totalPercent]="totalPercent">
      </app-progress-bar>
    </ng-container>

    <ng-template #DetailsHidden>
      <div margin-top>
        <ng-content></ng-content>
      </div>
    </ng-template>
    <!-- END--CHRONO BODY CONTENT-->

    <!--CHRONO FOOOTER-->
    <div nz-row>
      <div nz-col nzXs="0" nzSm="24">
        <nz-tag *ngIf="!station && showDetails && !aborted && stageName"
                margin-top-18  class="footer-tag" nzColor="#108ee9">
          {{('ESTIMATED_TIME_TO_FINISH' | translate) + momentRef().add(remainingTime, "seconds").format("HH:mm")}}
        </nz-tag>
      </div>
    </div>

  </ng-container>

  <ng-template #BeforeStart>
    <ng-container *ngIf="templateBeforeStart" [ngTemplateOutlet]="templateBeforeStart"></ng-container>
  </ng-template>
</div>
