<nz-content padding>
  <nz-page-header class="margin-top margin-bottom" [nzTitle]="'ECOES' | translate" [nzSubtitle]="'LIST' | translate"> </nz-page-header>

  <div nz-row padding>
    <div nz-col>
      <nz-list [nzDataSource]="ecoes" [nzRenderItem]="item" [nzGrid]="{ gutter: 16, xs: 24, sm: 12, md: 6, lg: 6, xl: 4 }">
        <ng-template #item let-item let-index="index">
          <nz-list-item *ngIf="index === 0" [nzContent]="first">
            <ng-template #first>
              <nz-card [nzTitle]="'CREATE_ECOE' | translate">
                <ng-container *ngTemplateOutlet="addECOE"></ng-container>
              </nz-card>
            </ng-template>
            <ng-template #addECOE>
              <div nz-row nzType="flex" nzJustify="center">
                <div nz-col nzSpan="24">
                  <a text-center nz-button nzBlock (click)="showCreateEcoe = true">
                    <i nz-icon nzType="plus" nzTheme="outline"></i>
                  </a>
                </div>
              </div>
            </ng-template>
          </nz-list-item>
          <nz-list-item *ngIf="index > 0" [nzContent]="nzContent">
            <ng-template #nzContent>
              <nz-card style="cursor: default"
                       [nzTitle]="item['name']"
                       [nzExtra]="extraTitle">
                <ng-container *ngTemplateOutlet="delItem"></ng-container>
              </nz-card>
            </ng-template>
            <ng-template #extraTitle>
              <a nz-button nzSize="small" nzType="danger" [routerLink]="isAdmin ? ['../admin/ecoe', item['id']] : []">
                <i nz-icon nzType="setting" nzTheme="outline"></i>
              </a>
            </ng-template>
            <ng-template #delItem>
              <button [routerLink]="['../eval/ecoe', item['id']]"
                      nzSize="default" nzBlock
                      preserveFragment="false"
                      nz-button nzType="primary">
                <i nz-icon nzType="file-text" nzTheme="outline"></i>
                {{'EVALUATION' | translate}}
              </button>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </div>
  </div>

</nz-content>


<router-outlet></router-outlet>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
           [nzMaskClosable]="true"
           [nzVisible]="showCreateEcoe"
           [nzTitle]="'CREATE_ECOE' | translate"
           (nzOnClose)="closeDrawer()"
           [nzPlacement]="'top'">
  <form nz-form (submit)="submitForm()">
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" [nzFor]="'name'">{{"ECOE_NAME" | translate}}</nz-form-label>
          <input nz-input id="name" [formControl]="ecoeForm"/>
        </nz-form-item>
      </div>
    </div>

    <div class="footer">
      <button type="button" nz-button (click)="closeDrawer()" class="margin-right">
        <span>{{"CANCEL" | translate}}</span>
      </button>
      <button type="submit" nz-button [nzType]="'primary'" [disabled]="!ecoeForm.valid">
        <span>{{"ACCEPT" | translate}}</span>
      </button>
    </div>
  </form>
</nz-drawer>
