<nz-layout>
  <nz-sider [nzCollapsible]="false"
            [(nzCollapsed)]="isCollapsed"
            [nzWidth]="200"
            [nzReverseArrow]="isReverseArrow"
            *ngIf="(sharedService.getPageChanged() | async) == '/admin'"
            style="overflow: auto; height: 100vh; position: fixed">
    <ul nz-menu
        [nzTheme]="'dark'"
        [nzMode]="'inline'"
        [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item (click)="showCreateEcoe = true">
        <i nz-icon [type]="icons.addIcon"></i>
        <span class="nav-text">{{"CREATE_ECOE" | translate}}</span>
      </li>

      <li nz-menu-item *ngFor="let ecoe of ecoes" [routerLink]="['./ecoe', ecoe.id]">
        <i nz-icon nzType="check-circle" icon-25></i>
        <span class="nav-text">{{ecoe.name}}</span>
      </li>

      <li nz-menu-item [routerLink]="'./cpanel'">
        <i nz-icon [type]="icons.settingsIcon"></i>
        <span class="nav-text">{{"CONTROL_PANEL" | translate}}</span>
      </li>
    </ul>
  </nz-sider>
</nz-layout>
<nz-layout>
  <router-outlet></router-outlet>
</nz-layout>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
           [nzMaskClosable]="true"
           [nzVisible]="showCreateEcoe"
           [nzTitle]="'CREATE_ECOE' | translate"
           (nzOnClose)="closeDrawer()"
           [nzPlacement]="'top'">
  <form nz-form (submit)="submitForm()">
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" [nzFor]="'name'">{{"ECOE_NAME" | translate}}</nz-form-label>
          <input nz-input id="name" [formControl]="ecoeForm"/>
        </nz-form-item>
      </div>
    </div>

    <div class="footer">
      <button type="button" nz-button (click)="closeDrawer()" class="margin-right">
        <span>{{"CANCEL" | translate}}</span>
      </button>
      <button type="submit" nz-button [nzType]="'primary'" [disabled]="!ecoeForm.valid">
        <span>{{"ACCEPT" | translate}}</span>
      </button>
    </div>
  </form>
</nz-drawer>
