<nz-content>
  <button nz-button [nzType]="'dashed'"
          [nz-tooltip] [nzTitle]="'ADD_STAGE' | translate"
          (click)="showStageModal()"
          [nzBlock]="true"
          [nzSize]="'large'">
    <i nz-icon [type]="'plus-circle'" [theme]="'twotone'" icon-16></i>
    {{'ADD_STAGE' | translate}}
  </button>
  <nz-tabset
    [nzTabPosition]="'left'"
    [nzSelectedIndex]="tabIndex"
    (nzSelectChange)="log([$event])"

  >
    <nz-tab
      *ngFor="let schedule of schedules"
      [nzTitle]="schedule.stage.name"
      (nzSelect)="log(['select', tab])"
      (nzClick)="log(['click', tab])"
      (nzDeselect)="onDeselectTabStage()"
    >
      <nz-card>
        <nz-row [nzGutter]="16">
          <nz-col [nzSpan]="8">
            <nz-statistic [nzValue]="schedule.stage.name"
                          [nzPrefix]="prefixStageName"
                          [nzTitle]="'NAME' | translate"
                          (click)="startEditStage(schedule)"
                          *ngIf="!editStage"
            ></nz-statistic>
            <span *ngIf="editStage">
            {{'NAME' | translate}}
              <nz-input-group [nzSize]="'large'"
                              [nzPrefix]="prefixStageName">
              <input [title]="'NAME' | translate" type="text" nz-input [(ngModel)]="schedule.stage.name"
                     [placeholder]="'NAME_PLACEHOLDER' | translate"/>
              </nz-input-group>
            </span>

            <ng-template #prefixStageName><i nz-icon nzType="edit"></i></ng-template>


          </nz-col>
          <nz-col [nzSpan]="8">
            <nz-statistic [nzValue]="schedule.stage.duration | secondsToMinutes"
                          [nzPrefix]="prefixStageDuration" [nzSuffix]="'MINUTES' | translate"
                          [nzTitle]="'DURATION' | translate"
                          (click)="startEditStage(schedule)"
                          *ngIf="!editStage"></nz-statistic>
            <span *ngIf="editStage">
            {{'DURATION' | translate}}
              <nz-input-group nzCompact [nzSize]="'large'">
                <nz-input-number text-center
                                 style="width:80px; text-align: center;"
                                 [(ngModel)]="editStageMin"
                                 (ngModelChange)="inputToSeconds(schedule)"
                                 [nzSize]="'large'"
                                 [nzMin]="0"
                                 [nzPlaceHolder]="'MINUTES' | translate"
                ></nz-input-number>
                <input
                  type="text"
                  disabled
                  nz-input
                  placeholder=":"
                  text-center
                  style="width: 30px; border-left: 0px; pointer-events: none; background-color: rgb(255, 255, 255);"
                />
                <nz-input-number text-center
                                 style="width: 80px; text-align: center; border-left: 0px;"
                                 [(ngModel)]="editStageSec"
                                 (ngModelChange)="inputToSeconds(schedule)"
                                 [nzSize]="'large'"
                                 [nzMin]="0" [nzMax]="59"
                                 [nzPlaceHolder]="'SECONDS' | translate"></nz-input-number>
              </nz-input-group>
            </span>
            <ng-template #prefixStageDuration><i nz-icon nzType="clock-circle"></i></ng-template>

          </nz-col>
          <nz-col [nzSpan]="8" text-right>
            <button nz-button
                    [nzType]="'primary'"
                    (click)="cancelEditStage(schedule)"
                    *ngIf="editStage">
              <span><i nz-icon type="save"></i>{{"SAVE" | translate}}</span>
            </button>
            <button nz-button
                    [nzType]="'default'"
                    (click) = "startEditStage(schedule)"
                    *ngIf="!editStage">
              <span><i nz-icon type="edit"></i>{{"EDIT" | translate}}</span>
            </button>
            <button nz-popconfirm
                    [nzTitle]="'DELETE_CONFIRMATION' | translate"
                    (nzOnConfirm)="deleteSchedule(schedule)"
                    [nzPlacement]="'top'"
                    [nzOkText]="'DELETE' | translate" [nzCancelText]="'CANCEL' | translate"
                    nz-button
                    [nzType]="'danger'">
              <span><i nz-icon type="delete"></i>{{"DELETE" | translate}}</span>
            </button>
          </nz-col>
        </nz-row>
      </nz-card>

      <app-events></app-events>

    </nz-tab>

  </nz-tabset>
</nz-content>

<nz-modal [(nzVisible)]="modalStage"
          [nzTitle]="'ADD_STAGE' | translate"
          (nzOnCancel)="handleStageCancel()"
          (nzOnOk)="handleStageOk()"
          [nzFooter]=null>
  <form nz-form [formGroup]="validateFormStage" (ngSubmit)="submitFormStage($event, validateFormStage.value)">
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>{{"NAME" | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input nz-input formControlName="stageName" [placeholder]="'NAME_PLACEHOLDER' | translate"/>
        <nz-form-explain
          *ngIf="
              (validateFormStage.get('stageName')?.dirty && validateFormStage.get('stageName')?.errors) ||
              validateFormStage.get('stageName')?.pending
          "
        >
          <ng-container *ngIf="validateFormStage.get('stageName')?.hasError('required')">
            {{"NAME_PLACEHOLDER" | translate}}
          </ng-container>
          <ng-container *ngIf="validateFormStage.get('stageName')?.pending">
            {{"VALIDATING" | translate}}
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>{{'DURATION' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <nz-input-number formControlName="stageDurationMin" [nzMin]="0"
                         [nzPlaceHolder]="'MINUTES' | translate"></nz-input-number>
        :
        <nz-input-number formControlName="stageDurationSec" [nzMin]="0" [nzMax]="59"
                         [nzPlaceHolder]="'SECONDS' | translate"></nz-input-number>
        <nz-form-explain *ngIf="(validateFormStage.get('stageDurationMin')?.dirty
                            && validateFormStage.get('stageDurationMin')?.errors
                            && validateFormStage.get('stageDurationSec')?.dirty
                            && validateFormStage.get('stageDurationSec')?.errors)">
          <ng-container
            *ngIf="validateFormStage.get('stageDurationMin')?.hasError('required') && validateFormStage.get('stageDurationSec')?.hasError('required')">
            {{'DURATION_PLACEHOLDER' | translate}}
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button nz-button nzType="primary" [disabled]="!validateFormStage.valid">Submit</button>
        <button nz-button (click)="resetForm($event, validateFormStage)">Reset</button>
      </nz-form-control>
    </nz-form-item>
  </form>

</nz-modal>
