<nz-card nzTitle="{{ 'PERSONAL_DATA' | translate }}" nzBordered>
  <div class="card-content">
    <div class="user-info">
      <p nz-typography><b>{{ 'EMAIL' | translate }}:</b> {{ userData.user.email }}</p>
      <p nz-typography><b>{{ 'NAME' | translate }}:</b> {{ userData.user.name }}</p>
      <p nz-typography><b>{{ 'SURNAMES' | translate }}:</b> {{ userData.user.surname }}</p>
    </div>
    <button nz-button nzType="primary" (click)="showModalEdit()">
      <span nz-icon nzType="edit" nzTheme="outline"></span>
      {{ 'CHANGE_PASSWORD' | translate }}
    </button>
  </div>
</nz-card>

<!--
  MODAL DE EDIT PASSWORD
-->
<nz-modal *ngIf="validateForm"
  [nzVisible]="showEditPassword"
  [nzTitle]="'CHANGE_PASSWORD' | translate"
  [nzOkText]="'ACCEPT' | translate"
  [nzCancelText]="'CANCEL' | translate"
  (nzOnOk)="submitFormOrganization(validateForm)"
  (nzOnCancel)="closeModal()">

  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-control [nzSpan]="24" [nzErrorTip]="'PASSWORD_REQUIRED' | translate">
          <input type="text" nz-input
                 formControlName="newPassword"
                 placeholder="{{'NEW_PASSWORD' | translate}}">
      </nz-form-control>
      <nz-form-control [nzSpan]="24" [nzErrorTip]="'PASSWORD_REQUIRED' | translate">
        <input type="text" nz-input
               formControlName="newPasswordRepeat"
               placeholder="{{'REPEAT_PASSWORD' | translate}}">
    </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
