<!--<nz-checkbox-wrapper>-->
<!--<div *ngFor="let student of searchListStudents">-->
<!--<label nz-checkbox [nzValue]="student.id" [(ngModel)]="student.selected" [nzDisabled]="student.disabled">-->
<!--{{student.dni}}-->
<!--<nz-divider [nzType]="'vertical'"></nz-divider>-->
<!--{{student.surnames}}, {{student.name}}-->
<!--</label>-->
<!--<br/>-->
<!--<br/>-->
<!--</div>-->
<!--</nz-checkbox-wrapper>-->

<!--<nz-transfer-->
<!--[nzDataSource]="searchListStudents"-->
<!--nzShowSearch-->
<!--[nzTitles]="['STUDENTS' | translate, ('GROUP' | translate) + ' ' + groupName]"-->
<!--[nzRender]="render"-->
<!--[nzListStyle]="{ 'width.px': modalWidth/2.3, 'height.px': modalWidth/2.5 }"-->
<!--[nzFilterOption]="filterOption"-->
<!--(nzSearchChange)="search($event)"-->
<!--(nzSelectChange)="select($event)"-->
<!--(nzChange)="change($event)"-->
<!--&gt;-->
<!--</nz-transfer>-->
<!--&lt;!&ndash;TODO: Add buttons to select Students and clean Planner&ndash;&gt;-->
<!--<ng-template #render let-item>-->
<!--{{item.student.surnames}}, {{item.student.name}}-->
<!--&lt;!&ndash;<nz-tag *ngIf="item.student.planner" [nzColor]="shared.stringToColour(item.student.planner.shift.shiftCode + item.student.planner.round.roundCode)">&ndash;&gt;-->
<!--&lt;!&ndash;{{item.student.planner.shift.shiftCode}}{{item.student.planner.round.roundCode}}{{item.student.plannerOrder}}&ndash;&gt;-->
<!--&lt;!&ndash;</nz-tag>&ndash;&gt;-->
<!--</ng-template>-->
<div>{{searchListStudents.length}}</div>
<div nz-row>
  <div nz-col nzSpan="16">
    <nz-select
      #select
      style="width: 100%;"
      nzMode="multiple"
      [nzDisabled]="this.planner.students.length >= maxStudents"
      [(ngModel)]="selectedStudents"
      nzPlaceHolder="Select users"
      nzAllowClear
      nzShowSearch
      (ngModelChange)="selected($event)"
      [nzServerSearch]="true"
      (nzOnSearch)="searchStudents($event)"
      (nzScrollToBottom)="loadMore()"
    >
      <ng-container *ngFor="let s of searchListStudents">
        <nz-option [nzDisabled]="selectedStudents.length + this.planner.students.length >= maxStudents && !this.selectedStudents.includes(s)"
                   [nzValue]="s" [nzLabel]="s.surnames +', '+ s.name"></nz-option>
      </ng-container>
      <nz-option *ngIf="loading" nzDisabled nzCustomContent>
        <i nz-icon type="loading" class="loading-icon"></i> Loading Data...
      </nz-option>
    </nz-select>
  </div>
  <div nz-col nzSpan="8">
    <button [disabled]="select.nzDisabled" nz-button nzType="primary" (click)="saveGroup()">{{'SAVE' | translate}}</button>
  </div>

</div>
<nz-list
  [nzDataSource]="planner.students"
  nzBordered
  nzSize="small"
  [nzHeader]="groupName"
  [nzFooter]="planner.students.length + '/' + maxStudents"
  [nzRenderItem]="item">
  <ng-template #item let-item>
    <ng-template #delItem>
      <button nz-button nzType="danger" (click)="rmStudent(item)">{{'DELETE' | translate}}</button>
    </ng-template>

    <ng-template #studentItem>
      {{item.plannerOrder}} - {{item.surnames}}, {{item.name}}
    </ng-template>

    <nz-list-item [nzContent]="studentItem" [nzActions]="[delItem]"></nz-list-item>
  </ng-template>


</nz-list>








