<nz-content *ngIf="stations">
  <div *ngFor="let station of stations; let indexStation = index">
    <div *ngFor="let qblock of station.qblocks; let indexQblock = index">
      <nz-table #table
                [nzData]="qblock.questions"
                [nzPageSize]="8"
                [nzTitle]="addButton">
        <thead>
          <tr>
            <th [nzExpand]="true">
              <a (click)="loadQuestions()">
                <i nz-icon icon-25 type="reload" [nz-tooltip] [nzPlacement]="'bottom'" [nzTitle]="'REFRESH' | translate"></i>
              </a>
            </th>
            <th>{{"ORDER" | translate}}</th>
            <th [nzWidth]="'30%'">{{"DESCRIPTION" | translate}}</th>
            <th>{{"REFERENCE" | translate}}</th>
            <th>{{"QUESTION_TYPE" | translate}}</th>
            <th>{{"OPTIONS" | translate}}</th>
            <th>
              <button nz-button [nzType]="'primary'" class="margin-left"
                      [nz-tooltip] [nzTitle]="'ADD_QUESTION' | translate"
                      (click)="addQuestion(qblock)">
                <i nz-icon [type]="'plus-circle'" [theme]="'twotone'" icon-16></i>
              </button>
            </th>
          </tr>
        </thead>

        <tbody>
          <ng-template ngFor let-item [ngForOf]="table.data">
            <tr>
              <td [nzShowExpand]="item.options.length > 0"
                  [(nzExpand)]="item.expand"
                  (nzExpandChange)="loadOptionsByQuestion($event, item)">
              </td>

              <td>
                <ng-container *ngIf="!editCache[item.id].edit">
                  {{item.order || "-"}}
                </ng-container>

                <ng-container *ngIf="editCache[item.id].edit">
                  <input type="number" nz-input [nzSize]="'small'" [(ngModel)]="editCache[item.id].order">
                </ng-container>
              </td>

              <td>
                <ng-container *ngIf="!editCache[item.id].edit">
                  {{item.description}}
                </ng-container>

                <ng-container *ngIf="editCache[item.id].edit">
                  <input type="text" nz-input [nzSize]="'small'" style="width: 80%;" [(ngModel)]="editCache[item.id].description">
                </ng-container>
              </td>

              <td>
                <ng-container *ngIf="!editCache[item.id].edit">
                  {{item.reference}}
                </ng-container>

                <ng-container *ngIf="editCache[item.id].edit">
                  <input type="text" nz-input [nzSize]="'small'" [(ngModel)]="editCache[item.id].reference">
                </ng-container>
              </td>

              <td>
                <ng-container *ngIf="!editCache[item.id].edit">
                  {{item.question_type}}
                </ng-container>

                <ng-container *ngIf="editCache[item.id].edit">
                  <nz-select style="width: 150px;"
                             [nzSize]="'small'"
                             [nzShowSearch]="true"
                             [(ngModel)]="editCache[item.id].question_type">
                    <nz-option *ngFor="let option of question_type_options"
                               [nzLabel]="option.label | translate"
                               [nzValue]="option.type">
                    </nz-option>
                  </nz-select>
                </ng-container>
              </td>

              <td>{{item.options.length}}</td>

              <td>
                <ng-container *ngIf="!editCache[item.id].new_item || !editCache[item.id].edit">
                  <a [nz-tooltip] [nzTitle]="'MOVE_TO' | translate">
                    <i nz-icon type="folder-add" [theme]="'twotone'"
                       nz-popover
                       [(nzVisible)]="questionShowQblocks[item.id].show"
                       (click)="loadQblocksByStation(station.id)"
                       [nzTrigger]="'click'"
                       [nzPlacement]="'left'"
                       [nzContent]="qblocksList">
                    </i>
                  </a>


                  <nz-divider [nzType]="'vertical'"></nz-divider>

                  <i nz-icon type="edit" [theme]="'outline'"
                     [nz-tooltip] [nzTitle]="'EDIT' | translate"
                     (click)="startEdit(item.id)" tappable success-color>
                  </i>

                  <nz-divider [nzType]="'vertical'"></nz-divider>

                  <a nz-popconfirm [nzTitle]="'DELETE_CONFIRMATION' | translate"
                     (nzOnConfirm)="deleteItem(item, indexStation, indexQblock)">
                    <i nz-icon type="delete" [nz-tooltip] [nzTitle]="'DELETE' | translate" danger-color></i>
                  </a>
                </ng-container>

                <ng-container *ngIf="editCache[item.id].edit">
                  <i nz-icon type="save"
                     [nz-tooltip] [nzTitle]="(editCache[item.id].new_item ? 'SAVE' : 'UPDATE') | translate"
                     (click)="editCache[item.id].new_item ? saveItem(item.id, indexStation, indexQblock) : saveEditItem(item.id)"
                     success-color tappable>
                  </i>

                  <nz-divider [nzType]="'vertical'"></nz-divider>

                  <i nz-icon type="close-circle"
                     [nz-tooltip] [nzTitle]="'CANCEL' | translate"
                     (click)="cancelEdit(item, indexStation, indexQblock)"
                     danger-color tappable>
                  </i>
                </ng-container>
              </td>

              <ng-template #qblocksList>
                <nz-list [nzDataSource]="qblocks" [nzSize]="'small'" [nzRenderItem]="qb">
                  <ng-template #qb let-qb>
                    <nz-list-item [nzContent]="qb.name" [nzActions]="[moveAction]" tappable
                                  (click)="moveQuestion(item.id, qblock.id, qb.id)">
                      <ng-template #moveAction>
                        <i nz-icon type="right-circle" theme="twotone"></i>
                      </ng-template>
                    </nz-list-item>
                  </ng-template>
                </nz-list>
              </ng-template>
            </tr>
            <tr [nzExpand]="item.expand">
              <td></td>
              <td colspan="5">
                <nz-table #optionTable [nzData]="item.optionsArray" [nzSize]="'middle'" [nzShowPagination]="false">
                  <tbody>
                    <tr *ngFor="let option of optionTable.data; let i = index">
                      <td>
                        <ng-container *ngIf="!editCache[item.id].edit">
                          {{option.order}}
                        </ng-container>

                        <ng-container *ngIf="editCache[item.id].edit">
                          <input type="text"
                                 nz-input
                                 [nzSize]="'small'"
                                 required
                                 [(ngModel)]="editCache[item.id].optionsArray[i].order">
                        </ng-container>
                      </td>

                      <td>
                        <ng-container *ngIf="!editCache[item.id].edit">
                          {{option.label}}
                        </ng-container>

                        <ng-container *ngIf="editCache[item.id].edit">
                          <input type="text"
                                 nz-input
                                 [nzSize]="'small'"
                                 required
                                 [(ngModel)]="editCache[item.id].questionsArray[i].label">
                        </ng-container>
                      </td>

                      <td>
                        <ng-container *ngIf="!editCache[item.id].edit">
                          {{option.points}}
                        </ng-container>

                        <ng-container *ngIf="editCache[item.id].edit">
                          <input type="text"
                                 nz-input
                                 [nzSize]="'small'"
                                 required
                                 [(ngModel)]="editCache[item.id].questionsArray[i].points">
                        </ng-container>
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </td>
            </tr>
          </ng-template>
        </tbody>

        <ng-template #addButton>
          <nz-breadcrumb>
            <nz-breadcrumb-item>
              {{station.name}}
            </nz-breadcrumb-item>

            <nz-breadcrumb-item>
              <nz-tag [nzMode]="qblockId ? 'closeable' : 'default'" [nzColor]="'geekblue'" (nzOnClose)="deleteFilter()">
                <i nz-icon type="filter" [theme]="'twotone'"></i>
                {{qblock.name}}
              </nz-tag>
            </nz-breadcrumb-item>
          </nz-breadcrumb>
          <!--<button nz-button [nzType]="'primary'" class="margin-left" (click)="addItem()">-->
            <!--<i nz-icon [type]="'plus-circle'" [theme]="'twotone'" icon-16></i>-->
            <!--{{"ADD_QUESTION" | translate}}-->
          <!--</button>-->
        </ng-template>
      </nz-table>
    </div>
  </div>
</nz-content>
