<nz-content *ngIf="questions">
  <nz-table #table
            [nzData]="questions"
            [nzPageSize]="8"
            [nzTitle]="addButton">
    <thead>
      <tr>
        <th [nzExpand]="true">
          <a (click)="loadQuestions()">
            <i nz-icon icon-25 type="reload" [nz-tooltip] [nzPlacement]="'bottom'" [nzTitle]="'RELOAD' | translate"></i>
          </a>
        </th>
        <th [nzWidth]="'10%'">{{"ORDER" | translate}}</th>
        <th [nzWidth]="'40%'">{{"DESCRIPTION" | translate}}</th>
        <th [nzWidth]="'20%'">{{"REFERENCE" | translate}}</th>
        <th [nzWidth]="'20%'">{{"OPTIONS" | translate}}</th>
        <th [nzWidth]="'5%'"></th>
      </tr>
    </thead>

    <tbody>
      <ng-template ngFor let-item [ngForOf]="table.data">
        <tr class="editable-cell">
          <td [nzShowExpand]="item.options.length > 0"
              [(nzExpand)]="item.expand"
              (nzExpandChange)="loadOptionsByQuestion($event, item.id)">
          </td>

          <td>
            <ng-container *ngIf="!editCache[item.id].edit">
              {{item.order || "-"}}
            </ng-container>

            <ng-container *ngIf="editCache[item.id].edit">
              <input type="text" nz-input [nzSize]="'small'" [(ngModel)]="editCache[item.id].order">
            </ng-container>
          </td>

          <td>
            <ng-container *ngIf="!editCache[item.id].edit">
              {{item.description}}
              <i nz-icon type="edit" [theme]="'twotone'"
                 [nz-tooltip] [nzTitle]="'EDIT' | translate"
                 (click)="startEdit(item.id)"
                 class="editable-cell-icon" padding-top>
              </i>
            </ng-container>

            <ng-container *ngIf="editCache[item.id].edit">
              <input type="text" nz-input [nzSize]="'small'" style="width: 80%;" [(ngModel)]="editCache[item.id].description">
              <i nz-icon type="save" success-color
                 [nz-tooltip] [nzTitle]="'UPDATE' | translate"
                 (click)="editCache[item.id].new_question ? saveItem(item.id) : saveEditItem(item.id)"
                 class="editable-cell-icon-check" padding-top>
              </i>
            </ng-container>
          </td>

          <td>
            <ng-container *ngIf="!editCache[item.id].edit">
              {{item.reference}}
            </ng-container>

            <ng-container *ngIf="editCache[item.id].edit">
              <input type="text" nz-input [nzSize]="'small'" [(ngModel)]="editCache[item.id].reference">
            </ng-container>
          </td>

          <td>{{item.options.length}}</td>

          <td>
            <ng-container *ngIf="!editCache[item.id].edit">
              <a nz-popconfirm [nzTitle]="'DELETE_CONFIRMATION' | translate" (nzOnConfirm)="deleteItem(item['$uri'])">
                <i nz-icon type="delete" [nz-tooltip] [nzTitle]="'DELETE' | translate" danger-color></i>
              </a>
            </ng-container>

            <ng-container *ngIf="editCache[item.id].edit">
              <a (click)="cancelEdit(item.id)">
                <i nz-icon type="close-circle" [nz-tooltip] [nzTitle]="'CANCEL' | translate" danger-color></i>
              </a>
            </ng-container>
          </td>
        </tr>
        <tr [nzExpand]="item.expand">
          <td></td>
          <td colspan="5">
            <nz-table #optionTable [nzData]="item.optionsArray" [nzSize]="'middle'" [nzShowPagination]="false">
              <tbody>
                <tr *ngFor="let option of optionTable.data; let i = index">
                  <td>
                    <ng-container *ngIf="!editCache[item.id].edit">
                      {{option.order}}
                    </ng-container>

                    <ng-container *ngIf="editCache[item.id].edit">
                      <input type="text"
                             nz-input
                             [nzSize]="'small'"
                             required
                             [(ngModel)]="editCache[item.id].optionsArray[i].order">
                    </ng-container>
                  </td>

                  <td>
                    <ng-container *ngIf="!editCache[item.id].edit">
                      {{option.label}}
                    </ng-container>

                    <ng-container *ngIf="editCache[item.id].edit">
                      <input type="text"
                             nz-input
                             [nzSize]="'small'"
                             required
                             [(ngModel)]="editCache[item.id].questionsArray[i].label">
                    </ng-container>
                  </td>

                  <td>
                    <ng-container *ngIf="!editCache[item.id].edit">
                      {{option.points}}
                    </ng-container>

                    <ng-container *ngIf="editCache[item.id].edit">
                      <input type="text"
                             nz-input
                             [nzSize]="'small'"
                             required
                             [(ngModel)]="editCache[item.id].questionsArray[i].points">
                    </ng-container>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </td>
        </tr>
      </ng-template>
    </tbody>

    <ng-template #addButton>
      <button nz-button [nzType]="'primary'" class="margin-left" (click)="addItem()">
        <i nz-icon [type]="'plus-circle'" [theme]="'twotone'" icon-16></i>
        {{"ADD_QUESTION" | translate}}
      </button>

      <nz-tag style="float: right;" [nzMode]="'closeable'" [nzColor]="'geekblue'" (nzOnClose)="deleteFilter()" *ngIf="qblockId">
        <i nz-icon type="filter" [theme]="'twotone'"></i>
        {{"QBLOCK" | translate}} {{qblockId}}
      </nz-tag>
    </ng-template>
  </nz-table>
</nz-content>
