<nz-content *ngIf="areas">
  <nz-table #table
            [nzData]="areas"
            [nzShowPagination]="false">
    <thead>
      <tr>
        <th [nzExpand]="true">
          <a (click)="loadAreas()">
            <i nz-icon icon-25 type="reload" [nz-tooltip] [nzPlacement]="'bottom'" [nzTitle]="'REFRESH' | translate"></i>
          </a>
        </th>
        <th>{{"NAME" | translate}}</th>
        <th nzWidth="300px">{{"CODE" | translate}}</th>
        <th nzWidth="100px">{{"QUESTIONS" | translate}}</th>
        <th nzWidth="140px">
          <button nz-button [nzType]="'primary'" class="margin-left"
                  [nz-tooltip] [nzTitle]="'ADD_AREA' | translate"
                  (click)="addArea()">
            <i nz-icon [type]="'plus-circle'" [theme]="'twotone'" icon-16></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-item [ngForOf]="table.data">
        <tr>
          <td [nzShowExpand]="item.questions.length > 0"
              [(nzExpand)]="item.expand"
              (nzExpandChange)="loadQuestionsByArea($event, item.id)">
          </td>
          <td>
            <ng-container>
              {{item.name}}
            </ng-container>

            <ng-container *ngIf="editCache[item.id].edit">
              <input type="text" nz-input [nzSize]="'small'" style="width: 80%;" [(ngModel)]="editCache[item.id].name">
            </ng-container>
          </td>

          <td>
            <ng-container *ngIf="!editCache[item.id].edit">
              {{item.code}}
            </ng-container>

            <ng-container *ngIf="editCache[item.id].edit">
              <input type="text" nz-input [nzSize]="'small'" [(ngModel)]="editCache[item.id].code">
            </ng-container>
          </td>

          <td>{{item.questions.length}}</td>

          <td text-right>
            <app-action-buttons [isEditing]="editCache[item.id].edit"
                                [isNewItem]="editCache[item.id].new_item"
                                (startEdit)="startEdit(item.id)"
                                (delete)="deleteItem(item)"
                                (save)="saveItem(item, editCache[item.id].new_item)"
                                (cancelEdit)="cancelEdit(item)">
            </app-action-buttons>
          </td>
        </tr>
        <tr [nzExpand]="item.expand">
          <td></td>
          <td colspan="4" inner-table>
            <nz-table #questionTable [nzData]="item.questionsArray" [nzSize]="'middle'" [nzShowPagination]="false">
              <thead>
                <tr>
                  <th>{{"DESCRIPTION" | translate}}</th>
                  <th nzWidth="300px">{{"REFERENCE" | translate}}</th>
                  <th nzWidth="150px">{{"AREA" | translate}}</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let question of questionTable.data; let i = index">
                  <td>
                    <ng-container *ngIf="!editCache[item.id].edit">
                      {{question.description}}
                    </ng-container>

                    <ng-container *ngIf="editCache[item.id].edit">
                      <input type="text"
                             nz-input
                             [nzSize]="'small'"
                             required
                             [(ngModel)]="editCache[item.id].questionsArray[i].description">
                    </ng-container>
                  </td>

                  <td>
                    <ng-container *ngIf="!editCache[item.id].edit">
                      {{question.reference}}
                    </ng-container>

                    <ng-container *ngIf="editCache[item.id].edit">
                      <input type="text"
                             nz-input
                             [nzSize]="'small'"
                             required
                             [(ngModel)]="editCache[item.id].questionsArray[i].reference">
                    </ng-container>

                  </td>
                  <td>
                    <ng-container *ngIf="!editCache[item.id].edit">
                      {{item.name}}
                    </ng-container>

                    <ng-container *ngIf="editCache[item.id].edit">
                      <nz-select style="width: 150px;"
                                 [nzSize]="'small'"
                                 [nzShowSearch]="true"
                                 [(ngModel)]="editCache[item.id].questionsArray[i].areaId">
                        <nz-option *ngFor="let a of areas" [nzLabel]="a.name" [nzValue]="a.id"></nz-option>
                      </nz-select>
                    </ng-container>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</nz-content>
