<div nz-row>
  <div nz-col nzSpan="16" [nzOffset]="4" >
    <form [formGroup]="optionForm" *ngIf="current_number_options > 0" > <!---->
      <nz-page-header [nzTitle]="'Opciones'" style="text-align: left; padding-left: 0"></nz-page-header>
      <div nz-row nzType="flex" nzJustify="start">
        <div nz-col nzSpan="2">
          <nz-form-label>{{'ORDER' | translate}}</nz-form-label>
        </div>
        <div nz-col nzSpan="17">
          <nz-form-label>{{'TEXT' | translate}}</nz-form-label>
        </div>
        <div nz-col nzSpan="4">
          <nz-form-label>{{'POINTS' | translate}}</nz-form-label>
        </div>
        <div nz-col nzSpan="1">
        </div>
      </div>

      <ng-container [formArrayName]="'optionRow'" *ngFor=" let control of optionForm.get('optionRow')['controls']; let i = index">
        <div nz-row nzGutter="8" nz-row nzType="flex" nzJustify="start" [formGroupName]="i+''">
          <div nz-col nzSpan="2">
            <nz-form-item>
              <nz-form-control>
                <input nz-input type="number" [value]="+totalItems + ( i + 1 )"  disabled/>
                <input nz-input type="hidden" [value]="+totalItems + ( i + 1 )" formControlName="order"/>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="17">
            <nz-form-control>
              <textarea nzSize="small" rows="5" [nzAutosize]="true" nz-input [placeholder]="('DESCRIPTION_PLACEHOLDER' | translate)" formControlName="label"></textarea>
              <nz-form-explain
                *ngIf="getFormControl('label',i)?.dirty && getFormControl('label', i)?.hasError('required')">
                {{'DESCRIPTION_INPUT_REQUIRED' | translate}}
              </nz-form-explain>
            </nz-form-control>
          </div>
          <div nz-col nzSpan="4">
            <nz-form-control>
              <input type="number" nz-input [placeholder]="('POINTS_PLACEHOLDER' | translate)" (ngModelChange)="getTotalPoints(i,$event)" formControlName="points"/>
              <nz-form-explain
                *ngIf="getFormControl('points',i)?.dirty && getFormControl('points', i)?.hasError('required')">
                {{'POINTS_INPUT_REQUIRED' | translate}}
              </nz-form-explain>
            </nz-form-control>
          </div>

          <div nz-col nzSpan="1" style="bottom: 0" *ngIf="i > 0 && type !== 'RB'">
            <button nzSize="small" nz-button nzType="danger" nzShape="circle" (click)="deleteRow(i)"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
          </div>
        </div>

      </ng-container>
    </form>
    </div>
</div>
