<div nz-row nzGutter="8" margin-top>
  <div nz-col [nzOffset]="2">
    <form nz-form [formGroup]="optionForm" *ngIf="current_number_options > 0" >

      <ng-container [formArrayName]="'optionRow'" *ngFor=" let control of optionForm.get('optionRow')['controls']; let i = index">
        <ng-container *ngIf=" type === 'radio' || type === 'checkbox' || (type === 'range' && (i + 1) == optionForm.get('optionRow')['controls'].length)">
          <div nz-row nzGutter="8" nzType="flex" nzAlign="top" nzJustify="start">
              <h3 text-left *ngIf="+i === 0"><b>{{'OPTIONS' | translate}}</b></h3>
          </div>
          <div [formGroupName]="i+''">
            <nz-form-item>
              <nz-space>
                <nz-space-item>
                  <nz-form-control *ngIf="type !== 'range'" [nzErrorTip]="'DESCRIPTION_INPUT_REQUIRED' | translate">
                    <input nz-input [placeholder]="('DESCRIPTION_PLACEHOLDER' | translate)" formControlName="label"/>
                  </nz-form-control>
                  <nz-form-control *ngIf="type === 'range'">
                    <nz-input-number formControlName="ratecount"
                      [nzPlaceHolder]="'RANGE_PLACEHOLDER' | translate"
                      [nzMin]="5" [nzMax]="10"></nz-input-number>
                  </nz-form-control>
                </nz-space-item>
                <nz-space-item>
                  <nz-form-control [nzErrorTip]="'POINTS_INPUT_REQUIRED' | translate">
                    <nz-input-number (ngModelChange)="getTotalPoints()" [nzPlaceHolder]="'POINTS_PLACEHOLDER' | translate" formControlName="points"></nz-input-number>
                  </nz-form-control>
                </nz-space-item>
                <nz-space-item *ngIf="i !== 0">
                  <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="deleteRow(i)"></i>
                </nz-space-item>
              </nz-space>
            </nz-form-item>
          </div>
        </ng-container>
      </ng-container>
      <nz-form-item *ngIf="type !== 'range'">
        <nz-form-control>
          <button nz-button nzType="dashed" class="add-button" (click)="addOptionRow(type)">
            <i nz-icon nzType="plus"></i>
            {{'ADD_OPTION' | translate}}
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>

<ng-template #questionWithOption let-idx="idx">

      <nz-form-control [nzErrorTip]="'DESCRIPTION_INPUT_REQUIRED' | translate">
        <input nz-input [placeholder]="('DESCRIPTION_PLACEHOLDER' | translate)" formControlName="label"/>
      </nz-form-control>

      <ng-template [ngTemplateOutlet]="points"></ng-template>

      <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="deleteRow(idx)"></i>

</ng-template>

<ng-template #points>
  <nz-form-control [nzErrorTip]="'POINTS_INPUT_REQUIRED' | translate">
    <nz-input-number (ngModelChange)="getTotalPoints()" [nzPlaceHolder]="'POINTS_PLACEHOLDER' | translate" formControlName="points"></nz-input-number>
  </nz-form-control>
</ng-template>
