<nz-page-header class="margin-top margin-bottom" (nzBack)="onBack()" nzBackIcon [nzTitle]="'EVALUATORS' | translate">
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item><a class="secondary-link" [routerLink]="['/ecoe/' + ecoeId + '/admin']">{{ecoe_name}}</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><nz-tag class="secondary-tag">{{"EVALUATORS" | translate}}</nz-tag></nz-breadcrumb-item>
    </nz-breadcrumb>
</nz-page-header>
  
<nz-content>
  <nz-table #table
            [nzData]="evaluators"
            [(nzPageIndex)]="page"
            [(nzPageSize)]="perPage"
            (nzPageIndexChange)="loadEvaluators()"
            (nzPageSizeChange)="loadEvaluators()"
            [nzLoading]="loading"
            [nzFrontPagination]="false"
            [nzTotal]="totalItems"
            [nzShowTotal]="tmpTotalItems"
            nzSize="small"
            nzShowSizeChanger
            nzShowPagination>
      <ng-template #tmpTotalItems>
      {{totalItems}}
      </ng-template>

      <thead>
      <tr>
        <th>
          <a (click)="loadEvaluators()">
            <i nz-icon nzType="reload" [nz-tooltip] [nzTooltipPlacement]="'bottom'" [nzTooltipTitle]="'REFRESH' | translate"></i>
          </a>
        </th>
        <th>{{"EMAIL" | translate}}</th>
        <th>{{"NAME" | translate}}</th>
        <th>{{"SURNAMES" | translate}}</th>
        <th>{{"STATIONS" | translate}}</th>
        <th nzAlign="right" nzRight>
          <app-upload-and-parse [parserFile]="evaluatorsParser" (parserResult)="importEvaluators($event)"></app-upload-and-parse>
        </th>
      </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-item [ngForOf]="table.data">
          <tr>
            <td></td>
            <td>
              <ng-container>
                {{item.user.email}}
              </ng-container>
            </td>
    
            <td>
              <ng-container>
                {{item.user.name}}{{item?.nameOrder}}
              </ng-container>
            </td>
    
            <td>
              <ng-container>
                {{item.user.surname}}
              </ng-container>
            </td>

            <td>
              <ng-container *ngFor="let item of evaluators">
                <nz-tag *ngFor="let station of item.stations" [nzColor]="'blue'">
                  {{ station }}
                </nz-tag>
              </ng-container>                           
            </td>

            <td></td>
          </tr>
        </ng-template>
        </tbody>
      </nz-table>

  
  
  
  
  
  
  
  
  
  
  
  <ng-container >
    <nz-drawer
    [nzClosable]="true"
    [nzVisible]="logPromisesERROR.length > 0"
    nzPlacement="right"
    [nzTitle]="'IMPORT_ERRORS' | translate"
    (nzOnClose)="clearImportErrors()"
    [nzWidth]="540">
    <nz-alert *ngFor="let error of logPromisesERROR"
              nzType="error"
              nzCloseable
              [nzMessage]="error.reason.statusText"
              [nzDescription]="error.reason.message"
              nzShowIcon>
    </nz-alert>
  </nz-drawer>
  </ng-container>
</nz-content>