<nz-page-header class="margin-top margin-bottom" (nzBack)="onBack()" nzBackIcon [nzTitle]="'EVALUATORS' | translate">
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item><a class="secondary-link" [routerLink]="['/ecoe/' + ecoeId + '/admin']">{{ecoe_name}}</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><nz-tag class="secondary-tag">{{"EVALUATORS" | translate}}</nz-tag></nz-breadcrumb-item>
    </nz-breadcrumb>
</nz-page-header>
  
<nz-content>
  <nz-table 
      #nzTable 
      [nzData]="evaluators"
            [nzLoading]="loading"
            nzSize="small"
          >
      <thead>
      <tr>
        <th>
          <a (click)="loadEvaluators()">
            <i nz-icon nzType="reload" [nz-tooltip] [nzTooltipPlacement]="'bottom'" [nzTooltipTitle]="'REFRESH' | translate"></i>
          </a>
        </th>
        <th>{{"EMAIL" | translate}}</th>
        <th>{{"NAME" | translate}}</th>
        <th>{{"SURNAMES" | translate}}</th>
        <th>{{"STATIONS" | translate}}</th>
        <th nzAlign="right" nzRight>
          <app-upload-and-parse [parserFile]="evaluatorsParser" (parserResult)="importEvaluators($event)"></app-upload-and-parse>
        </th>
      </tr>
      </thead>
      <tbody>
        <!-- TODO: Usar nzTable.data -->
        <tr *ngFor="let item of evaluators">
          <td></td>
          <td>{{item.user.email}}</td>
          <td>{{item.user.name}}</td>
          <td>{{item.user.surname}}</td>
          <td>
            <ng-container>
              <nz-tag *ngFor="let station of item.stations" [nzColor]="'blue'">
                {{station.name}}
              </nz-tag>
            </ng-container>
          </td>
        </tr>
      </tbody>
      </nz-table>

  <ng-container >
    <nz-drawer
    [nzClosable]="true"
    [nzVisible]="logPromisesERROR.length > 0"
    nzPlacement="right"
    [nzTitle]="'IMPORT_ERRORS' | translate"
    (nzOnClose)="clearImportErrors()"
    [nzWidth]="540">
    <nz-alert *ngFor="let error of logPromisesERROR"
              nzType="error"
              [nzMessage]="error.reason.statusText"
              [nzDescription]="error.reason.message"
              nzShowIcon>
    </nz-alert>
  </nz-drawer>
  </ng-container>
</nz-content>