<nz-layout class="layout">
  <nz-header>
    <div class="logo" style="vertical-align: middle;float: left;">
      <a (click)="isCollapsed = !isCollapsed" style="margin-right: 13px;font-size: 30px;">
        <i nz-icon [nzType]="isCollapsed ? 'menu-fold' : 'menu-unfold'"></i>
      </a>
      <img alt="logo" src="../assets/logo.png">
    </div>

    <div *ngIf="userIsSuperAdmin()">
      <button nz-button nz-dropdown [nzDropdownMenu]="organizaciones" style="margin: auto;" >
        Organizaciones
        <i nz-icon nzType="down"></i>
      </button>

      <nz-dropdown-menu #organizaciones="nzDropdownMenu">
        <ul nz-menu>
          <li *ngFor="let org of organizationList" nz-menu-item>
            {{org}}
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>

  
    <app-usermenu *ngIf="isLoggedIn()" style="margin: auto;"></app-usermenu>

    <app-submenu *ngIf="isLoggedIn()" [submenuSelected]="'ECOE'" style="float: right;padding-right: 2em;"></app-submenu>


  </nz-header>

  <nz-content>
    <div class="long-div" #TopDiv>
      <div class="inner-nz-content long-div-inner">
        <router-outlet></router-outlet>
      </div>
      <nz-footer>
        <label>openECOE {{year}} - Universitas Miguel Hernández</label>
      </nz-footer>
      <nz-back-top [nzTarget]="TopDiv" #backTop></nz-back-top>
    </div>
  </nz-content>


</nz-layout>
<nz-drawer [nzVisible]="isCollapsed" [nzPlacement]="'left'" [nzWidth]="320"
            (nzOnClose)="isCollapsed = !isCollapsed" [nzBodyStyle]="{'padding':'0'}">
  <app-menu (menu_close_event)="toCollapse($event)"></app-menu>
</nz-drawer>