<nz-table #table
          [nzData]="questionsList"
          [(nzPageIndex)]="page"
          [(nzPageSize)]="perPage"
          (nzPageIndexChange)="pageChange($event)"
          (nzPageSizeChange)="pageSizeChange($event)"
          [nzLoading]="loading"
          [nzTotal]="totalItems"
          [nzFrontPagination]="false"
          nzSize="small"
          nzShowSizeChanger
          nzShowPagination
          >
  <thead>
  <tr>
    <th nzWidth="40px">{{"ORDER" | translate}}</th>
    <th nzWidth="400px">{{"DESCRIPTION" | translate}}</th>
    <th nzWidth="150px">{{"REFERENCE" | translate}}</th>
    <th>{{"QUESTION_TYPE" | translate}}</th>
    <th>{{"AREA" | translate}}</th>
    <th nzAlign="right">
      <button nz-button [nzType]="'primary'"
              (click)="addQuestion()">
        <i nz-icon [type]="'plus-circle'"></i>
        {{'ADD_QUESTION' | translate}}
      </button>
    </th>
  </tr>
  </thead>

  <tbody>
  <ng-template ngFor let-item let-index="index" [ngForOf]="table.data">
    <tr>
      <td nzAlign="right">
        <ng-container *ngIf="!editCache[index].edit else editOrder">
          {{item.order || "-"}}
        </ng-container>

        <ng-template #editOrder>
          <nz-input-number [nzMin]="0"
                           [nzSize]="'small'"
                           [(ngModel)]="editCache[index].data.order">
          </nz-input-number>
        </ng-template>
      </td>

      <td>
        <ng-container *ngIf="!editCache[index].edit else editDesc">
          {{item.description}}
        </ng-container>

        <ng-template #editDesc>
          <textarea rows="1" [nzAutosize]="true" nz-input [(ngModel)]="editCache[index].data.description"></textarea>
        </ng-template>
      </td>

      <td>
        <ng-container *ngIf="!editCache[index].edit else editRef">
          {{item.reference}}
        </ng-container>

        <ng-template #editRef>
          <input type="text" nz-input [nzSize]="'small'" [(ngModel)]="editCache[index].data.reference">
        </ng-template>
      </td>

      <td>
        <ng-container *ngIf="!editCache[index].edit else editQuestionType">
          {{getQuestionTypeLabel(item.questionType) | translate}}
        </ng-container>

        <ng-template #editQuestionType>
          <nz-select style="width: 100%;"
                     [nzSize]="'small'"
                     [nzShowSearch]="true"
                     [(ngModel)]="editCache[index].data.questionType">
            <nz-option *ngFor="let option of questionTypeOptions"
                       [nzLabel]="option.label | translate"
                       [nzValue]="option.type">
            </nz-option>
          </nz-select>
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="!editCache[index].edit else editArea">
          {{item.area.name}}
        </ng-container>

        <ng-template #editArea>
          <nz-select style="width: 100%;"
                     [nzSize]="'small'"
                     [nzShowSearch]="true"
                     [(ngModel)]="editCache[index].data.area"
                     (nzScrollToBottom)="loadMoreAreas()"
          >
            <nz-option *ngFor="let area of areas" [nzLabel]="area.name" [nzValue]="area">
            </nz-option>
          </nz-select>
        </ng-template>
      </td>
      <td text-right>
        <nz-tag [nzColor]="'geekblue'" (click)="editCache[index].expand = !editCache[index].expand">
          <i nz-icon [type]="editCache[index].expand ? 'caret-down' : 'caret-right'"></i>
          {{item.options.length}} {{'OPTIONS' | translate}}
        </nz-tag>
        <nz-divider [nzType]="'vertical'"></nz-divider>
        <app-action-buttons [isEditing]="editCache[index].edit"
                            [isNewItem]="editCache[index].new_item"
                            (startEdit)="startEdit(index)"
                            (delete)="deleteItem(index)"
                            (save)="saveItem(editCache[index])"
                            (cancelEdit)="cancelEdit(index)">
        </app-action-buttons>
      </td>
    </tr>
    <tr [nzExpand]="editCache[index].expand">
      <td></td>
      <td colspan="5">
        <app-options-list [question]="item"></app-options-list>
      </td>
    </tr>
  </ng-template>
  </tbody>
</nz-table>
