<nz-layout>
  <nz-sider [nzCollapsible]="true" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <ul nz-menu
        [nzTheme]="'dark'"
        [nzMode]="'inline'"
        [nzInlineCollapsed]="isCollapsed"
        [nzSelectable]="false">
      <li (click)="isCollapsed = !isCollapsed">
        <button nz-button [nzType]="'primary'" [nzBlock]="true">
          <i nz-icon [type]="isCollapsed ? 'menu-unfold' : 'menu-fold'" icon-25></i>
        </button>
      </li>

      <li nz-menu-item (click)="showCreateEcoe = true">
        <i nz-icon [type]="'plus-circle'" [theme]="'fill'"></i>
        <span class="nav-text">{{"CREATE_ECOE" | translate}}</span>
      </li>

      <li nz-menu-item *ngFor="let ecoe of ecoes" [routerLink]="'./ecoe/' + ecoe.id">
        <i nz-icon type="user"></i>
        <span class="nav-text">{{ecoe.name}}</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <router-outlet></router-outlet>
  </nz-layout>
</nz-layout>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
           [nzMaskClosable]="true"
           [nzVisible]="showCreateEcoe"
           [nzTitle]="'CREATE_ECOE' | translate"
           (nzOnClose)="closeDrawer()"
           [nzPlacement]="'top'">
  <form nz-form (submit)="submitForm()">
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" [nzFor]="'name'">{{"ECOE_NAME" | translate}}</nz-form-label>
          <input nz-input id="name" [formControl]="ecoeForm" />
        </nz-form-item>
      </div>
    </div>

    <div class="footer">
      <button type="button" nz-button (click)="closeDrawer()" class="margin-right">
        <span>{{"CANCEL" | translate}}</span>
      </button>
      <button type="submit" nz-button [nzType]="'primary'" [disabled]="!ecoeForm.valid">
        <span>{{"ACCEPT" | translate}}</span>
      </button>
    </div>
  </form>
</nz-drawer>
