<nz-steps [nzCurrent]="current">
  <nz-step [nzTitle]="'ADD_QBLOCK' | translate"></nz-step>
  <nz-step [nzTitle]="'ADD_QUESTIONS' | translate"></nz-step>
  <nz-step [nzTitle]="'SUMMARY' | translate"></nz-step>
</nz-steps>

<div class="steps-action">

  <ng-container *ngIf="current === 0">
    <div class="steps-content">
      <app-qblock-form #qblock [qblocks]="qblocksToAdd" (returnData)="onGetQblocks($event)">
        <button nz-button nzType="default" (click)="validQblocks()">
          <span>{{'NEXT' | translate}}</span>
        </button>
      </app-qblock-form>
    </div>
  </ng-container>

  <ng-container *ngIf="current === 1">

    <div class="steps-content">
      <app-question-form
        #question
        [questionsCache]="questionsToAdd"
        [action]="'ADD_WITH_QBLOCK'"
        (returnData)="onGetQuestions($event)">
      </app-question-form>
    </div>

    <nz-button-group margin-top>
      <button nz-button nzType="default" (click)="pre()">
        <span>{{'BACK' | translate}}</span>
      </button>
      <button nz-button nzType="primary" (click)="preview()" *ngIf="current < 2">
        <span>{{'CONTINUE' | translate}}</span>
      </button>
    </nz-button-group>

  </ng-container>

  <ng-container *ngIf="current === 2">

    <app-questions-list
      [questionsList]="questionsToAdd"
      [qblock]="qblocksToAdd[0]"
      [preview]="true">
    </app-questions-list>

    <nz-button-group margin-top>
      <button nz-button nzType="default" (click)="pre()">
        <span>{{'BACK' | translate}}</span>
      </button>
      <button nz-button nzType="primary" (click)="save()" *ngIf="current === 2">
        <span>{{'SAVE' | translate}}</span>
      </button>
    </nz-button-group>

  </ng-container>
</div>


<div class="footer">
  <button type="button" (click)="cancelForm()" class="ant-btn" style="margin-right: 8px;">
    <span>{{'CANCEL' | translate}}</span></button>
</div>
