<!-- #TODO Cambiar breadcrumb a dinamico -->
<nz-page-header class="margin-bottom" (nzBack)="onBack()" nzBackIcon [nzTitle]="'AREAS' | translate" > 
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item><a class="secondary-link" [routerLink]="['/ecoe/' + ecoeId + '/admin']">{{ecoe_name}}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><nz-tag class="secondary-tag">{{"AREAS" | translate}}</nz-tag></nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-extra>  
    <button [disabled]="areas.length == 0" [routerLink]="['/ecoe/' + ecoeId + '/admin/stations']" nz-button [nzType]="'primary'"><span>{{"CONFIGURATION" | translate}} {{"STATIONS" | translate}} <i nz-icon nzType="arrow-right" nzTheme="outline"></i></span></button>
  </nz-page-header-extra>
</nz-page-header>


<nz-content *ngIf="areas">
<!--  <nz-breadcrumb [nzAutoGenerate]="true"></nz-breadcrumb>-->
  <nz-table #table
            [nzData]="areas"
            [nzShowPagination]="true"
            [nzShowSizeChanger]="true"

            [nzTotal]="totalItems"
            [nzFrontPagination]="false"
            [nzLoading]="false"

            [(nzPageSize)]="per_page"
            [(nzPageIndex)]="current_page"
            nzSize="small"
            (nzPageIndexChange)="pageChange()"
            (nzPageSizeChange)="pageSizeChange($event)">
    <thead>
      <tr>
        <th [nzExpand]="true">
          <a (click)="loadAreas()">
            <i nz-icon type="reload" [nz-tooltip] [nzPlacement]="'bottom'" [nzTitle]="'REFRESH' | translate"></i>
          </a>
        </th>
        <th>{{"NAME" | translate}}</th>
        <th nzWidth="300px">{{"CODE" | translate}}</th>
        <th nzWidth="100px">{{"QUESTIONS" | translate}}</th>
        <th nzWidth="240px">
          <nz-button-group>
            <button nz-button [nzType]="'primary'" class="margin-left"
                    [nz-tooltip] [nzTitle]="'ADD_AREA' | translate"
                    (click)="showDrawer()">
              <i nz-icon [type]="'plus-circle'" icon-16></i>
            </button>
            <app-upload-and-parse (parserResult)="importAreas($event)"></app-upload-and-parse>
          </nz-button-group>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-item [ngForOf]="table.data">
        <tr>
          <td></td>
          <td>
            <ng-container *ngIf="!editCache[item.id].edit">
              {{item.name}}
            </ng-container>

            <ng-container *ngIf="editCache[item.id].edit">
              <input type="text" nz-input [nzSize]="'small'" style="width: 80%;" [(ngModel)]="editCache[item.id].name">
            </ng-container>
          </td>

          <td>
            <ng-container *ngIf="!editCache[item.id].edit">
              {{item.code}}
            </ng-container>

            <ng-container *ngIf="editCache[item.id].edit">
              <input type="text" nz-input [nzSize]="'small'" [(ngModel)]="editCache[item.id].code">
            </ng-container>
          </td>

          <td>{{item.questions?.length}}</td>

          <td text-right>
            <app-action-buttons [isEditing]="editCache[item.id].edit"
                                [isNewItem]="editCache[item.id].new_item"
                                (startEdit)="startEdit(item)"
                                (delete)="deleteItem(item)"
                                (save)="updateItem(editCache[item.id])"
                                (cancelEdit)="cancelEdit(item)">
            </app-action-buttons>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>

  <ng-container>
    <nz-drawer
      [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
      [nzMaskClosable]="false"
      [nzWidth]="720"
      [nzVisible]="isVisible"
      [nzTitle]="'ADD_AREA' | translate"
      (nzOnClose)="cancelForm()">

      <form [formGroup]="areaForm">
        <div nz-row nzGutter="8">
          <div nz-col nzSpan="12">
            <nz-form-label>{{'NAME' | translate}}</nz-form-label>
          </div>
          <div nz-col nzSpan="9">
            <nz-form-label>{{'CODE' | translate}}</nz-form-label>
          </div>
        </div>

        <ng-container formArrayName="areaRow" *ngFor=" let control of areaForm.get('areaRow')['controls']; let i = index">
          <div nz-row nzGutter="8" [formGroupName]="+i">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [placeholder]="('NAME_PLACEHOLDER' | translate)" formControlName="name"/>
                  <nz-form-explain *ngIf="getFormControl('name', i)?.dirty && getFormControl('name', i)?.hasError('required')">
                    {{'NAME_INPUT_REQUIRED' | translate}}
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="9">
              <nz-form-control>
                <input nz-input [placeholder]="('CODE_PLACEHOLDER' | translate)" formControlName="code"/>
               <nz-form-explain
                  *ngIf="getFormControl('code',i)?.dirty && getFormControl('code', i)?.hasError('required')">
                 {{'CODE_INPUT_REQUIRED' | translate}}
                </nz-form-explain>
              </nz-form-control>
            </div>
            <div nz-col nzSpan="3" style="bottom: 0" *ngIf="i > 0">
              <button nz-button nzType="danger" nzShape="circle" (click)="deleteRow(i)"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
            </div>
          </div>
        </ng-container>

        <nz-form-item>
          <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 20, offset: 4 }">
            <button nz-button   nzType="dashed" style="width:60%" (click)="addAreaRow()">
              <i nz-icon type="plus"></i> {{'ADD_AREA' | translate}}
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>

      <div class="footer">
        <button type="button" (click)="cancelForm()" class="ant-btn" style="margin-right: 8px;"><span>{{'CANCEL' | translate}}</span></button>
        <button type="button" (click)="submitForm()" class="ant-btn ant-btn-primary"><span>{{'SAVE' | translate}}</span></button>
      </div>
    </nz-drawer>

    <nz-drawer
      [nzClosable]="true"
      [nzVisible]="logPromisesERROR.length > 0"
      nzPlacement="right"
      [nzTitle]="'IMPORT_ERRORS' | translate"
      (nzOnClose)="clearImportErrors()"
      [nzWidth]="540">
      <nz-alert *ngFor="let error of logPromisesERROR"
                nzType="error"
                nzCloseable
                [nzMessage]="error.reason.statusText"
                [nzDescription]="error.reason.message"
                nzShowIcon>
      </nz-alert>
    </nz-drawer>
  </ng-container>

</nz-content>
