
.complete {
  background: greenyellow;
}

.incomplete {
  background: yellow;
}

.empty {
  background: orange;
}

[bordered] {
  border: 2px solid black;
}

.ant-table {
  &-tbody > tr {
    transition: all .3s ease;

    &.ant-table-row-hover,
    &:hover {
      & > td {
        background: transparent;
      }

      & > td:first-child {
        background: #fafafa;
      }
    }

    & > td {
      &:hover {
        background: #bfc9ff;
      }
    }
  }
}

[white-bg] {
  background-color: #fafafa;
}

.display-action-buttons {
  position: relative;
}

.action-buttons {
  display: none;
}

.display-action-buttons:hover .action-buttons {
  display: inline-block;
}
