<nz-content>
  <nz-table #table
            nzBordered
            [nzData]="planners"
            [nzShowPagination]="false" [nzScroll]="{ x: '800px', y: '600px' }">
    <thead>
      <tr>
        <th nzWidth="100px" nzLeft="0px"></th>
        <th *ngFor="let shift of shifts" nzWidth="100px" class="display-action-buttons">
          {{shift.time_start['$date'] | date: 'medium'}}

            <app-action-buttons class="action-buttons" [isEditing]="false"
                                [isNewItem]="false"
                                (delete)="deleteShift(shift['$uri'])"
                                (startEdit)="addShift(shift)">
            </app-action-buttons>

        </th>
        <th (click)="addShift()" nzWidth="100px" nzRight="0px" tappable>
          <i nz-icon type="plus-circle" [theme]="'twotone'" class="margin-right"></i>
          {{"ADD_SHIFT" | translate}}
        </th>
      </tr>
    </thead>

    <tbody>
      <ng-template ngFor let-item [ngForOf]="table.data">
        <tr>
          <td white-bg nzLeft="0px">{{item.round_code}}</td>
          <td *ngFor="let plan of item.shifts" text-center
              [style.cursor]="!plan.planner_assigned ? 'pointer' : 'default'"
              (click)="!plan.planner_assigned ? loadStudents(plan, item) : null"
              [ngClass]="(plan.planner_assigned && plan.students.length == 0) ? 'empty' :
             (plan.planner_assigned && plan.students.length < stations.length) ? 'incomplete' :
             plan.planner_assigned ? 'complete' : ''">

            <app-action-buttons *ngIf="plan.planner_assigned"
                                [isEditing]="false"
                                [isNewItem]="false"
                                (delete)="deletePlanner(plan.plannerRef)"
                                (startEdit)="loadStudents(plan, item, plan.plannerRef)">
            </app-action-buttons>
            <i nz-icon type="plus-circle" [theme]="'twotone'" *ngIf="!plan.planner_assigned"></i>
          </td>

          <td nzRight="0px" style="border: none;"></td>
        </tr>
      </ng-template>

      <tr>
        <td white-bg tappable nzLeft="0px" (click)="addRound()">
          <i nz-icon type="plus-circle" [theme]="'twotone'" class="margin-right"></i>
          {{"ADD_ROUND" | translate}}
        </td>

        <!--<td *ngFor="let x of shifts" style="border: none;"></td>-->
      </tr>
    </tbody>
  </nz-table>
</nz-content>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
           [nzMaskClosable]="true"
           [nzVisible]="showAddShift"
           [nzTitle]="'ADD_SHIFT' | translate"
           (nzOnClose)="closeDrawerShift()"
           [nzPlacement]="'right'">
  <form nz-form [formGroup]="shiftForm" (ngSubmit)="submitFormShift()">
    <nz-form-item>
      <nz-form-label [nzRequired]="true" [nzFor]="'shift_code'">{{"CODE" | translate}}</nz-form-label>
      <nz-form-control>
        <input nz-input id="shift_code" [formControlName]="'shift_code'" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzRequired]="true" [nzFor]="'$date'">{{"DATE" | translate}}</nz-form-label>
      <nz-form-control>
        <nz-date-picker id="$date"
                        [formControlName]="'$date'"
                        nzShowTime
                        nzFormat="yyyy-MM-dd HH:mm:ss"
                        [nzPlaceHolder]="'SELECT_DATE' | translate">
        </nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    <button type="button" nz-button (click)="closeDrawerShift()" class="margin-right">
      <span>{{"CANCEL" | translate}}</span>
    </button>
    <button type="submit" nz-button [nzType]="'primary'" [disabled]="!shiftForm.valid">
      <span>{{"ACCEPT" | translate}}</span>
    </button>
  </form>
</nz-drawer>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
           [nzMaskClosable]="true"
           [nzVisible]="showAddRound"
           [nzTitle]="'ADD_ROUND' | translate"
           (nzOnClose)="closeDrawerRound()"
           [nzPlacement]="'left'">
  <form nz-form [formGroup]="roundForm" (submit)="submitFormRound()">
    <nz-form-item>
      <nz-form-label [nzRequired]="true" [nzFor]="'description'">{{"DESCRIPTION" | translate}}</nz-form-label>
      <nz-form-control>
        <input nz-input id="description" [formControlName]="'description'" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzRequired]="true" [nzFor]="'round_code'">{{"CODE" | translate}}</nz-form-label>
      <nz-form-control>
        <input nz-input id="round_code" [formControlName]="'round_code'" />
      </nz-form-control>
    </nz-form-item>

    <button type="button" nz-button (click)="closeDrawerRound()" class="margin-right">
      <span>{{"CANCEL" | translate}}</span>
    </button>
    <button type="submit" nz-button [nzType]="'primary'" [disabled]="!roundForm.valid">
      <span>{{"ACCEPT" | translate}}</span>
    </button>
  </form>
</nz-drawer>

<nz-modal [(nzVisible)]="showStudentsSelector"
          [nzTitle]="'SELECT_STUDENTS' | translate"
          (nzOnCancel)="showStudentsSelector = false"
          (nzOnOk)="assignPlanner()">
  <nz-checkbox-wrapper (nzOnChange)="checkStudentsSelected($event)">
    <div *ngFor="let student of students">
      <label nz-checkbox [nzValue]="student.id" [(ngModel)]="student.selected" [nzDisabled]="student.disabled">
        {{student.dni}} <nz-divider [nzType]="'vertical'"></nz-divider> {{student.surnames}}, {{student.name}}
      </label>
      <br/>
      <br/>
    </div>
  </nz-checkbox-wrapper>
</nz-modal>
