<nz-table #optionTable *ngIf="!evaluate"
          [nzData]="question?.options"
          nzSize="small"
          [nzShowPagination]="false"
          nzBordered="false">
  <thead>
  <tr>
    <th nzWidth="40px">{{"ORDER" | translate}}</th>
    <th nzWidth="250px">{{"LABEL" | translate}}</th>
    <th nzWidth="150px">{{"POINTS" | translate}}</th>
    <th>{{"PREVIEW" | translate}}</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let option of optionTable.data; let indexOption = index">
    <ng-container>
      <td>{{option.order}}</td>
      <td>{{option.label}}</td>
      <td>{{option.points | number: '.0-2'}}</td>
    </ng-container>

    <td *ngIf="(  (question.questionType == 'RS' && indexOption === getIndex(indexOption))
                || (question.questionType == 'CH')
                || (question.questionType == 'RB' && indexOption == 0))"
        [attr.rowspan]="(question.questionType == 'RS') ? question.options.length : 1">

      <ng-container *ngIf="question.questionType == 'RB'">

        <nz-switch (ngModelChange)="onOptionChange($event, option)"
                   [ngModel]="editCacheOption[option.order]['checked']"
                   [nzCheckedChildren]="option.label"
                   [nzUnCheckedChildren]="optionTable.data[1].label"
                   [ngClass]="editCacheOption[option.order].points < 0 ? 'negative-points' : 'positive-points'">
        </nz-switch>

      </ng-container>

      <ng-container *ngIf="question.questionType == 'CH'">
        <nz-switch
                   (ngModelChange)="onOptionChange($event, option)"
                   [ngModel]="editCacheOption[option.order]['checked']"
                   [nzCheckedChildren]="option.label"
                   [nzUnCheckedChildren]="option.label"
                   [ngClass]="option.points < 0 ? 'negative-points' : 'positive-points'">
        </nz-switch>
      </ng-container>

      <ng-container *ngIf="question.questionType == 'RS'">
        <nz-rate
          (ngModelChange)="onOptionChange($event, option, question.questionType)"
          [ngModel]="option.order"
          [nzCount]="optionTable.data.length"
          nzAllowClear=false></nz-rate>
      </ng-container>

    </td>
  </tr>
  </tbody>
</nz-table>

<!--SECTION ONLY FOR evaluate.component.ts-->
<ng-container *ngIf="evaluate && question?.options">
  <ng-container *ngFor="let option of question.options; let indexOption = index">
    <pre *ngIf="question.questionType == 'RS'">{{'indexOption: ' + indexOption + ' getIndex(): ' + getIndex(indexOption)}}</pre>
<!--    <pre *ngIf="question.questionType == 'RS'">{{}}</pre>-->
    <ng-container *ngIf="(  (question.questionType == 'RS' && indexOption === getIndex(indexOption) )
                || (question.questionType == 'CH')
                || (question.questionType == 'RB' && indexOption == 0))">
      <nz-switch nz-row
        *ngIf="question.questionType == 'RB'"
        (ngModelChange)="onOptionChange($event, option)"
        [ngModel]="editCacheOption[option.order]['checked']"
        [nzCheckedChildren]="OptionRef"
        [nzUnCheckedChildren]="Option2Ref"
        [ngClass]="editCacheOption[option.order].points < 0 ? 'negative-points' : 'positive-points'">
      </nz-switch>

      <nz-switch nz-row
        *ngIf="question.questionType == 'CH'"
         [ngClass]="{'switch' : question.options.length > 1 && indexOption > 0,
                          'negative-points': option.points < 0,
                          'positive-points': option.points >= 0}"
        (ngModelChange)="onOptionChange($event, option)"
        [ngModel]="editCacheOption[option.order]['checked']"
        [nzCheckedChildren]="OptionRef"
        [nzUnCheckedChildren]="OptionRef">
      </nz-switch>

      <ng-container *ngIf="question.questionType === 'RS'">
        <div nz-row class="left">
          <bar-rating
            (rateChange)="onOptionChange($event, option, question.questionType)"
            [rate]="filtredAnswers.length > 0 ? editCacheOption[option.order].option.order + 1 : option.order"
            [max]="question.options.length"
            showText="true"
            theme="horizontal">
          </bar-rating>
        </div>
      </ng-container>
    </ng-container>

    <ng-template #OptionRef>
      <div>{{option?.label | stripHtml}}</div>
    </ng-template>

    <ng-template #Option2Ref>
      <div>{{question.options[1].label | stripHtml}}</div>
    </ng-template>
  </ng-container>

</ng-container>
