<nz-table #optionTable
          [nzData]="question?.options"
          nzSize="middle"
          [nzShowPagination]="false">
  <thead>
  <tr>
    <th nzWidth="40px">{{"ORDER" | translate}}</th>
    <th nzWidth="250px">{{"LABEL" | translate}}</th>
    <th nzWidth="150px">{{"POINTS" | translate}}</th>
    <th>{{"PREVIEW" | translate}}</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let option of optionTable.data; let indexOption = index">
    <td>
      {{option.order}}
    </td>

    <td>
        {{option.label}}
    </td>

    <td>
      {{option.points | number: '.0-2'}}
    </td>

    <td *ngIf="(  (question.questionType == 'RS') && indexOption == 0)
                || (question.questionType == 'CH')
                || ((question.questionType == 'RB') && indexOption == 0)"
        [attr.rowspan]="(question.questionType == 'RS') ? question.options.length : 1">

      <ng-container *ngIf="question.questionType == 'RB'">
        <!--<nz-radio-group [(ngModel)]="option.id">
          <label nz-radio [nzValue]="option.id"
                 [ngClass]="editCacheOption[option.id].points < 0 ? 'negative-points' : 'positive-points'">
            {{editCacheOption[option.id].label}}
          </label>
        </nz-radio-group>-->

        <nz-switch *ngIf="indexOption === 0" [ngModel]="!editCacheOption[option.id].edit"
                   [nzCheckedChildren]="editCacheOption[option.id].edit ?
                        editCacheOption[option.id].label :
                        option.label"
                   [nzUnCheckedChildren]="editCacheOption[option.id].edit ?
                        editCacheOption[option.id].label :
                        optionTable.data[1].label"
                   [ngClass]="editCacheOption[option.id].points < 0 ? 'negative-points' : 'positive-points'">
        </nz-switch>

      </ng-container>

      <ng-container *ngIf="question.questionType == 'CH'">
        <nz-switch [ngModel]="!editCacheOption[option.id].edit"
                   [nzCheckedChildren]="editCacheOption[option.id].edit ?
                        editCacheOption[option.id].label :
                        option.label"
                   [nzUnCheckedChildren]="editCacheOption[option.id].edit ?
                        editCacheOption[option.id].label :
                        option.label"
                   [ngClass]="editCacheOption[option.id].points < 0 ? 'negative-points' : 'positive-points'">
        </nz-switch>
      </ng-container>

      <ng-container *ngIf="question.questionType == 'RS'">
        <nz-rate [(ngModel)]="valueopt" [nzCount]="optionTable.data.length"></nz-rate>
        <span class="ant-rate-text">{{valueopt}}</span>
      </ng-container>

    </td>
  </tr>
  </tbody>

</nz-table>
