<nz-content *ngIf="ecoe">
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="12">
      <nz-card [nzTitle]="ecoe.name" [nzExtra]="headerExtra">
        <nz-list>
            <app-item-info [link]="'areas'"
                           [title]="'AREAS'"
                           [no_items]="'NO_AREAS'"
                           [itemsPagination]="areas"
                           [icon]="icons.areaIcon">
            </app-item-info>

            <app-item-info [link]="'stations'"
                           [title]="'STATIONS'"
                           [no_items]="'NO_STATIONS'"
                           [itemsPagination]="stations"
                           [icon]="icons.stationIcon">
            </app-item-info>

          <app-item-info [link]="'planner'"
                         [title]="'ROUNDS'"
                         [no_items]="'NO_ROUNDS'"
                         [itemsPagination]="rounds"
                         [icon]="icons.roundIcon">
          </app-item-info>

          <app-item-info [link]="'planner'"
                         [title]="'SHIFTS'"
                         [no_items]="'NO_SHIFTS'"
                         [itemsPagination]="shifts"
                         [icon]="icons.shiftIcon">
          </app-item-info>

          <!--<app-item-info [link]="'students'"-->
                         <!--[title]="'STUDENTS'"-->
                         <!--[no_items]="'NO_STUDENTS'"-->
                         <!--[itemsPagination]="students"-->
                         <!--[icon]="icons.studentIcon"-->
                         <!--[theme]="'outline'">-->
          <!--</app-item-info>-->
        </nz-list>

        <ng-template #headerExtra>
          <button nz-popconfirm
                  [nzTitle]="'DELETE_CONFIRMATION' | translate"
                  (nzOnConfirm)="deleteEcoe()"
                  [nzPlacement]="'top'"
                  [nzOkText]="'DELETE' | translate" [nzCancelText]="'CANCEL' | translate"
                  nz-button
                  [nzType]="'danger'"
                  [nzBlock]="true">
            <span>{{"DELETE_ECOE" | translate}}</span>
          </button>
        </ng-template>
      </nz-card>
    </div>

    <div nz-col [nzSpan]="12">
      <nz-card [nzTitle]="'REPORTS_AND_STATISTICS' | translate">

      </nz-card>
    </div>
  </div>

  <div nz-row [nzGutter]="16" second-row>
    <div nz-col [nzSpan]="12">
      <nz-card [nzTitle]="'STATIONS' | translate">
        <nz-list>

        </nz-list>
      </nz-card>
    </div>

    <div nz-col [nzSpan]="12">
      <nz-card [nzTitle]="'GROUPS' | translate">
        <nz-list>

        </nz-list>
      </nz-card>
    </div>
  </div>
</nz-content>
