<nz-content>
  <nz-page-header class="margin-top margin-bottom" (nzBack)="onBack()" nzBackIcon [nzTitle]="station?.name" nzSubtitle="Estación"> </nz-page-header>

  <button class="margin-bottom" nz-button nzType="dashed" nzBlock (click)="showDrawer()">
    {{'ADD_QBLOCK' | translate}}
    <i nz-icon nzType="file-add" nzTheme="outline"></i>
  </button>

  <nz-table #table
            [nzData]="qblocks"
            [(nzPageIndex)]="page"
            [(nzPageSize)]="perPage"
            (nzPageIndexChange)="pageChange($event)"
            (nzPageSizeChange)="pageSizeChange($event)"
            [nzLoading]="loading"
            [nzFrontPagination]="false"
            [nzTotal]="totalItems"
            nzSize="small"
            nzShowSizeChanger
            nzShowPagination>
    <thead>
    <tr>
      <th [nzExpand]="true">
        <a (click)="getQblocks()">
          <i nz-icon icon-25 type="reload" [nz-tooltip] [nzPlacement]="'bottom'" [nzTitle]="'REFRESH' | translate"></i>
        </a>
      </th>
      <th nzWidth="5%">{{"ORDER" | translate}}</th>
      <th nzWidth="70%">{{"NAME" | translate}}</th>
      <th nzWidth="7%">{{"Nº preguntas" | translate}}</th>
      <th nzWidth="12%" style="min-width: 165px;">
        <nz-button-group class="margin-left right">
          <button nz-button [nzType]="'primary'"
                  [nz-tooltip] [nzTitle]="'ADD_STATION' | translate" (click)="showDrawer()"
                  >
            <i nz-icon [type]="'plus-circle'" nzTheme="twotone" icon-16></i>
          </button>
          <app-upload-and-parse (parserResult)="getQblocks()"></app-upload-and-parse>
        </nz-button-group>
      </th>
      <th nzWidth="6%" style="min-width: 65px;"></th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-item [ngForOf]="table.data" let-index="index">
      <tr>
        <td>
          <i nz-icon nzType="file-text" nzTheme="outline"></i>
        </td>

        <td>
          <ng-container *ngIf="!editCache[item.id].edit">
            {{item.order || "-"}}
          </ng-container>

          <ng-container *ngIf="editCache[item.id].edit">
            <nz-input-number [nzMin]="0" [nzSize]="'small'" [(ngModel)]="editCache[item.id].item.order"></nz-input-number>
          </ng-container>
        </td>

        <td>
          <ng-container *ngIf="!editCache[item.id].edit" >
            <a (click)="item.clicked = (item.clicked === true) ? false : true; item.expand = !item.expand">
              {{item.name}}
            </a>
          </ng-container>

          <ng-container *ngIf="editCache[item.id].edit">
            <input type="text" nz-input [nzSize]="'small'" [(ngModel)]="editCache[item.id].item.name">
          </ng-container>
        </td>

        <td>
          <ng-container *ngIf="!editCache[item.id].edit" >
            {{item.questions?.length}}
          </ng-container>
        </td>

        <td>
          <nz-collapse (click)="item.clicked = (item.clicked === true) ? false : true; item.expand = !item.expand">
            <nz-collapse-panel [nzHeader]="'Ver preguntas'"
                               [nzActive]="item.expand">
            </nz-collapse-panel>
          </nz-collapse>
        </td>

        <td text-right>
          <app-action-buttons [isEditing]="editCache[item.id]?.edit"
                              [isNewItem]="editCache[item.id]?.new_item"
                              (startEdit)="startEdit(item)"
                              (delete)="deleteItem(item)"
                              (save)="updateItem(editCache[item.id].item)"
                              (cancelEdit)="cancelEdit(item)">
          </app-action-buttons>
        </td>
      </tr>
      <tr  *ngIf="item.clicked">
        <td colspan="10">
          <app-questions-list
            [qblock]="item"
          ></app-questions-list>
        </td>
      </tr>
    </ng-template>
    </tbody>
  </nz-table>
</nz-content>

<nz-drawer
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzMaskClosable]="false"
  [nzWidth]="'90%'"
  [nzVisible]="isVisible"
  [nzTitle]="'ADD_QBLOCK' | translate"
  (nzOnClose)="closeDrawer()">

  <app-qblock-question-form
    [id_station]="id_station"
    [n_qblocks]="qblocks.length">
  </app-qblock-question-form>


</nz-drawer>
