<nz-content>
  <nz-table #table
            [nzData]="stations"
            [(nzPageIndex)]="page"
            [(nzPageSize)]="perPage"
            (nzPageIndexChange)="pageChange($event)"
            (nzPageSizeChange)="pageSizeChange($event)"
            [nzLoading]="loading"
            [nzFrontPagination]="false"
            [nzTotal]="totalItems"
            nzShowSizeChanger
            nzShowPagination>
    <thead>
    <tr>
      <th [nzExpand]="true">
        <a (click)="loadStations()">
          <i nz-icon icon-25 type="reload" [nz-tooltip] [nzPlacement]="'bottom'" [nzTitle]="'REFRESH' | translate"></i>
        </a>
      </th>
      <th nzWidth="85px">{{"ORDER" | translate}}</th>
      <th>{{"NAME" | translate}}</th>
      <th nzWidth="140px">{{"PARENT_STATION" | translate}}</th>
      <th nzWidth="140px">{{"CHILD_STATIONS" | translate}}</th>
      <th nzWidth="240px">
        <nz-button-group>
          <button nz-button [nzType]="'primary'" class="margin-left"
                  [nz-tooltip] [nzTitle]="'ADD_STATION' | translate"
                  (click)="showDrawer()">
            <i nz-icon [type]="'plus-circle'" nzTheme="twotone" icon-16></i>
          </button>
          <app-upload-and-parse (parserResult)="importStations($event)"></app-upload-and-parse>
        </nz-button-group>
      </th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-item let-i="index" [ngForOf]="table.data">
      <tr>
        <td [nzShowExpand]="false"
            [(nzExpand)]="item.expand"
            (nzExpandChange)="loadQblocksByStation($event, item)">
        </td>

        <td>
          <ng-container *ngIf="!editCache[i].edit">
            {{item.order || "-"}}
          </ng-container>

          <ng-container *ngIf="editCache[i].edit">
            <nz-input-number [nzMin]="0" [nzSize]="'small'" [(ngModel)]="editCache[i].item.order"></nz-input-number>
          </ng-container>
        </td>

        <td>
          <ng-container *ngIf="!editCache[i].edit">
            {{item.name}}
          </ng-container>

          <ng-container *ngIf="editCache[i].edit">
            <input type="text" nz-input [nzSize]="'small'" [(ngModel)]="editCache[i].item.name">
          </ng-container>
        </td>

        <td>
          <nz-tag *ngIf="item.parentStation?.name"
                  [nzColor]="shared.stringToColour(item.parentStation.name)">{{item.parentStation.name}}</nz-tag>
        </td>

        <td>{{item?.childrenStations?.length}}</td>

        <td text-right>
          <app-action-buttons [isEditing]="editCache[i].edit"
                              [isNewItem]="editCache[i].new_item"
                              (startEdit)="startEdit(i)"
                              (delete)="deleteItem(item)"
                              (save)="saveItem(editCache[i])"
                              (cancelEdit)="cancelEdit(editCache[i])">
          </app-action-buttons>
        </td>
      </tr>
    </ng-template>
    </tbody>
  </nz-table>

  <ng-container>
    <nz-drawer
      [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
      [nzMaskClosable]="false"
      [nzWidth]="720"
      [nzVisible]="isVisible"
      [nzTitle]="'ADD_STATION' | translate"
      (nzOnClose)="cancelForm()">

      <form [formGroup]="stationForm">
        <div nz-row nzGutter="8">
          <div nz-col nzSpan="3">
            <nz-form-label>{{'ORDER' | translate}}</nz-form-label>
          </div>
          <div nz-col nzSpan="9">
            <nz-form-label>{{'NAME' | translate}}</nz-form-label>
          </div>
          <div nz-col nzSpan="9">
            <nz-form-label>{{'PARENT_STATION' | translate}}</nz-form-label>
          </div>
        </div>

        <ng-container formArrayName="stationRow" *ngFor=" let control of stationForm.get('stationRow')['controls']; let i = index">
          <div nz-row nzGutter="8" [formGroupName]="+i">
            <div nz-col nzSpan="3">
              <nz-form-item>
                <nz-form-control>
                  <input nz-input type="number" [placeholder]="('ORDER_PLACEHOLDER' | translate)" formControlName="order"/>
                  <nz-form-explain *ngIf="getFormControl('order', i)?.dirty && getFormControl('order', i)?.hasError('required')">
                    {{'ORDER_INPUT_REQUIRED' | translate}}
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="9">
              <nz-form-control>
                <input nz-input [placeholder]="('NAME_PLACEHOLDER' | translate)" formControlName="name"/>
                <nz-form-explain
                  *ngIf="getFormControl('name',i)?.dirty && getFormControl('name', i)?.hasError('required')">
                  {{'NAME_INPUT_REQUIRED' | translate}}
                </nz-form-explain>
              </nz-form-control>
            </div>
            <div nz-col nzSpan="9">
              <nz-form-item>
                <nz-form-control>
                  <input nz-input [placeholder]="('PARENT_PLACEHOLDER' | translate)" formControlName="parentStation"/>
                  <nz-form-explain *ngIf="getFormControl('parentStation', i)?.dirty && getFormControl('parentStation', i)?.hasError('required')">
                    {{'PARENT_INPUT_REQUIRED' | translate}}
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="3" style="bottom: 0" *ngIf="i > 0">
              <button nz-button nzType="danger" nzShape="circle" (click)="deleteRow(i)"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
            </div>
          </div>
        </ng-container>

        <nz-form-item>
          <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 20, offset: 4 }">
            <button nz-button   nzType="dashed" style="width:60%" (click)="addStationRow()">
              <i nz-icon type="plus"></i> {{'ADD_STATION' | translate}}
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>

      <div class="footer">
        <button type="button" (click)="cancelForm()" class="ant-btn" style="margin-right: 8px;"><span>{{'CANCEL' | translate}}</span></button>
        <button type="button" (click)="submitForm()" class="ant-btn ant-btn-primary"><span>{{'SAVE' | translate}}</span></button>
      </div>
    </nz-drawer>
  </ng-container>

</nz-content>
