<nz-content *ngIf="ecoe">
  <nz-list [nzBordered]="true" [nzSize]="'large'" [nzDataSource]="ecoe" [nzRenderItem]="item" [nzHeader]="ecoe.name">
    <ng-template #item let-item>
      <nz-list-item>
        <nz-list-item-meta [nzTitle]="titleArea">
          <ng-template #titleArea>
            <a routerLink="./areas">{{"AREAS" | translate}}</a>
            <nz-divider [nzType]="'vertical'"></nz-divider>
            <span>{{(item.areas.length > 0) ? item.areas.length : ('NO_AREAS' | translate)}}</span>
            <i nz-icon type="warning" [theme]="'fill'" *ngIf="item.areas.length == 0"></i>
          </ng-template>
        </nz-list-item-meta>
      </nz-list-item>
      <nz-list-item>
        <nz-list-item-meta [nzTitle]="titleStation">
          <ng-template #titleStation>
            <a routerLink="./stations">{{"STATIONS" | translate}}</a>
            <nz-divider [nzType]="'vertical'"></nz-divider>
            <span>{{(item.stations.length > 0) ? item.stations.length : ('NO_STATIONS' | translate)}}</span>
            <i nz-icon type="warning" [theme]="'fill'" *ngIf="item.stations.length == 0"></i>
          </ng-template>
        </nz-list-item-meta>
      </nz-list-item>
      <!--<nz-list-item>-->
        <!--{{"STUDENTS" | translate}}: {{(ecoe.students.length > 0) ? ecoe.students.length : ('NO_STUDENTS' | translate)}}-->
        <!--<i nz-icon type="warning" [theme]="'fill'" *ngIf="ecoe.students.length == 0"></i>-->
      <!--</nz-list-item>-->
    </ng-template>
  </nz-list>

  <button nz-popconfirm
          [nzTitle]="'DELETE_CONFIRMATION' | translate"
          (nzOnConfirm)="deleteEcoe()"
          [nzPlacement]="'top'"
          [nzOkText]="'DELETE' | translate" [nzCancelText]="'CANCEL' | translate"
          nz-button
          [nzType]="'danger'"
          [nzBlock]="true">
    <span>{{"DELETE_ECOE" | translate}}</span>
  </button>
</nz-content>
