<nz-content *ngIf="ecoe">
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="12">
      <nz-card [nzTitle]="ecoe[0].name" [nzExtra]="headerExtra">
        <nz-list [nzDataSource]="ecoe" [nzRenderItem]="item">
          <ng-template #item let-item>
            <app-item-info [link]="'areas'"
                           [title]="'AREAS'"
                           [no_items]="'NO_AREAS'"
                           [itemsArray]="item.areas"
                           [icon]="areaIcon">
            </app-item-info>

            <app-item-info [link]="'stations'"
                           [title]="'STATIONS'"
                           [no_items]="'NO_STATIONS'"
                           [itemsArray]="item.stations"
                           [icon]="stationIcon">
            </app-item-info>

            <app-item-info [link]="'students'"
                           [title]="'STUDENTS'"
                           [no_items]="'NO_STUDENTS'"
                           [itemsArray]="item.students"
                           [icon]="studentIcon"
                           [theme]="'outline'">
            </app-item-info>

            <app-item-info [link]="'rounds'"
                           [title]="'ROUNDS'"
                           [no_items]="'NO_ROUNDS'"
                           [itemsArray]="item.rounds"
                           [icon]="roundIcon">
            </app-item-info>

            <app-item-info [link]="'shifts'"
                           [title]="'SHIFTS'"
                           [no_items]="'NO_SHIFTS'"
                           [itemsArray]="item.shifts"
                           [icon]="shiftIcon">
            </app-item-info>
          </ng-template>
        </nz-list>

        <ng-template #headerExtra>
          <button nz-popconfirm
                  [nzTitle]="'DELETE_CONFIRMATION' | translate"
                  (nzOnConfirm)="deleteEcoe()"
                  [nzPlacement]="'top'"
                  [nzOkText]="'DELETE' | translate" [nzCancelText]="'CANCEL' | translate"
                  nz-button
                  [nzType]="'danger'"
                  [nzBlock]="true">
            <span>{{"DELETE_ECOE" | translate}}</span>
          </button>
        </ng-template>
      </nz-card>
    </div>

    <div nz-col [nzSpan]="12">
      <nz-card [nzTitle]="'REPORTS_AND_STATISTICS' | translate">

      </nz-card>
    </div>
  </div>

  <div nz-row [nzGutter]="16" second-row>
    <div nz-col [nzSpan]="12">
      <nz-card [nzTitle]="'STATIONS' | translate">
        <nz-list>

        </nz-list>
      </nz-card>
    </div>

    <div nz-col [nzSpan]="12">
      <nz-card [nzTitle]="'GROUPS' | translate">
        <nz-list>

        </nz-list>
      </nz-card>
    </div>
  </div>

  <nz-upload nzType="drag"
             [nzMultiple]="true"
             [nzLimit]="2"
             nzAction="https://jsonplaceholder.typicode.com/posts/"
             (nzChange)="handleChange($event)">
    <p class="ant-upload-drag-icon">
      <i nz-icon type="cloud-upload"></i>
    </p>
    <p class="ant-upload-text">Click or drag file to this area to upload</p>
    <p class="ant-upload-hint">Support for a single or bulk upload. Strictly prohibit from uploading company data or other band files</p>
  </nz-upload>
</nz-content>
